/* Google material-icons */
material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* 推奨サイズ */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  -webkit-font-smoothing: antialiased; /* WebKitブラウザサポート */
  text-rendering: optimizeLegibility; /* Chrome、Safariサポート */
  -moz-osx-font-smoothing: grayscale; /* Firefoxサポート */
  font-feature-settings: 'liga'; /* IEサポート */
}
/* icon size */
.material-icons.md-14 { font-size: 14px; vertical-align: bottom;}
.material-icons.md-18 { font-size: 18px; vertical-align: bottom;}
.material-icons.md-24 { font-size: 24px; vertical-align: bottom;}
.material-icons.md-36 { font-size: 36px; vertical-align: bottom;}
.material-icons.md-48 { font-size: 48px; vertical-align: bottom;}
/* 背景が明るいとき用のアイコン色 */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
/* 背景が暗いとき用のアイコン色 */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.content { width: 90%; margin: 0 5% 0 5%; }
dt { font-weight: bold; }
img.webui { width:450px; height: auto; }
img.settei { width:400px; height: auto; }
img.smallbox { width:250px; height: auto; }
img.msgbox { width:150px; height: auto; }
.btn {
  padding: 0 12px;
  display: inline-block;
  min-height: 20px;
  line-height: 1;
  color: black;
  text-align: center;
  outline: none;
  border: 2px;
  background-color: #f1f1f1;
}
.ori { font-style: italic; font-size: small; color: darkcyan; } /* 原文 */
.hint { width: 80%; font-size: small; margin-left: 20px; color: maroon; }
.tips { width: 80%; font-size: small; margin-left: 20px; color: indigo; }
.ura { color: gray; }
.gotop { posion:relative;top:15px;text-align:right; font-style: italic; }
.section {margin-left: 40px;}
span.bold { font-weight: bold; }

ul.none { list-style-type: none }
.keiiadd { color: darkcyan;}
.caution { font-weight: bold;color:red; }
.chacha { font-size:x-small; color:gray }

#page-top {
  font-size: 0;
  position: fixed;
  bottom: 16px;
  right: 16px;
  opacity: 0;
}
#page-top.fade-in {
  color: #000;
  font-size: 60px;
  opacity: 0.6;
  transition: opacity 1s;
}

/* preでDOS窓風 */
pre.dos{width: 90%; font-size: small; background:black; color:white; font-family:'MS UI Gothic','Courier New';line-height: 14px;}

/* Tree風表示 */
.dirtree li { list-style: none; }
.dirtree ul li ul { margin-top: .25em; margin-bottom: -.25em; margin-left: -10px; }
.dirtree ul li ul li { margin-bottom: .25em; position: relative;}
.dirtree ul li ul li::before { content: ""; position: absolute; top: -0.5em; left: -16px; width: 10px; height: calc(100% + .75em);border-left: 1px solid #3972b2; }
.dirtree ul li ul li:last-child::before { height: calc(1em + .25em); }
.dirtree ul li ul li::after { content: ""; position: absolute; top: .75em; left: -16px; width: 10px; border-bottom: 1px solid #3972b2; }
