var AutoReservePage = {}

<auto-reserve show="{ visible }">
    <header class="header-bar">
        <button class="btn pull-left" onclick="MainMenu.show()"><i class="material-icons">&#xE5D2;</i></button>
        <div class="text pull-left">自動予約</div>
        <button class="btn pull-left" onclick="{ changeFolder }">［ { folder == "%" ? "ALL" : folder } ({ itemCount }) ］</button>
        <button class="btn pull-right" onclick="{ sync }" title="画面更新"><i class="material-icons">&#xE627;</i></button>
        <button class="btn pull-right" onclick="{ addKeywords }" title="新規追加"><i class="material-icons">&#xE145;</i></button>
    </header>

    <div id="tool-bar">
        <button class="btn btn-flat" onclick="{ selectAll }">全選択</button>
        <button class="btn btn-flat" onclick="{ deselectAll }">全解除</button>
        <button class="btn btn-flat" onclick="{ enable }">有効</button>
        <button class="btn btn-flat" onclick="{ disable }">無効</button>
        <button class="btn btn-flat" onclick="{ move }">移動</button>
        <button class="btn btn-flat" onclick="{ remove }">削除</button>
    </div>

    <content class="main-content">
        <div class="list">
            <div each="{ auto in autos }" class="{ auto[2] == 1 ? auto[5] == 1 ? '' : 'pending' : 'disable' }">
                <div class="checkbox pull-left" onclick="{ checkChange }">
                    <i class="material-icons">{ auto.checked ? "&#xE834;" : "&#xE835;" }</i>
                </div>
                <div onclick="{ editAutoReserve }">{ auto[1] } ({ auto[4] }) { folder == "%" ? "[" + auto[6] + "]" : "" }</div>
            </div>
        </div>
    </content>

    <pagetab></pagetab>

    <text-menu ref="folderselect"></text-menu>
    <auto-reserve-edit></auto-reserve-edit>
    <maid></maid>

    <style>
        #tool-bar
        {
            position: absolute;
            left: 0;
            top: 40px;
            z-index: 20;
            overflow: hidden;
            height: 40px;
            width: 100%;
        }

            #tool-bar .btn
            {
                color: white;
            }

        .main-content
        {
            margin-top: 80px;
        }

        .list .disable
        {
            background-color: lightgrey;
        }

        .list .pending
        {
            background-color: lightyellow;
        }
    </style>

    <script>
        "use strict"

        var self = this
        var router = route.create()

        AutoReservePage = {
            update: function ()
            {
                load()
            }
        }

        this.on("mount", function ()
        {
            self.folder = localStorage.getItem("auto-reserve/folder")

            if (self.folder == null)
                self.folder = "デフォルト"
        })

        router('auto-reserve/*', function (folder)
        {
            self.folder = decodeURI(folder) // keii add decodeURI
            self.visible = true
            self.tags["maid"].show(); // "call maid-san"

            load()
        })

        router('auto-reserve', function ()
        {
            self.visible = true
            self.tags["maid"].show(); // "call maid-san"

            if (self.autos == null)
                load()
            else
                self.update()
        })

        router('..', function ()
        {
            self.visible = false
            self.tags["maid"].hide(); // "leave maid-san"
            self.update()
        })

        sync()
        {
            load()
        }

        addKeywords()
        {
            Dialog.editor("キーワードを入力してください。", function (text) {
                var exec = function (words, index) {
                    if (words.length == index) {
                        load()
                        updateReserve()
                        return
                    }

                    var word = words[index]
                    var opt = new SearchOpt(word)

                    var arg = {
                        query: opt.toSql(),
                        option: opt.toJson(),
                        status: 1,
                        recstat: 0,
                        name: word,
                        folder: self.folder == '%' ? 'デフォルト' : self.folder
                    }

                    Webapi.exec("AddAutoReserve", arg, function (ret) {
                        index++
                        if (ret.code == 0)
                            setTimeout(exec, 0, words, index)
                        else
                            Dialog.alert("追加に失敗しました。{0}\n理由 : {1}".format(word, ret.message), function () {
                                setTimeout(exec, 0, words, index)
                            })
                    })
                }

                var words = text.split("\n");
                words = words.filter(function (x, i, s) { return x != "" })   //空文字列削除
                words = words.filter(function (x, i, s) { return s.indexOf(x) == i })   //重複削除
                exec(words, 0)
            })
        }

        changeFolder(e)
        {
            if (e.target.text != "all") {
              self.folder = e.target.text
            } else {
            }
            load()
        }

        move()
        {
            showFolderMenu(false, function (folder) {
                if (folder == self.folder)
                    return

                var autos = self.autos.filter(function (auto) { return auto.checked })

                var exec = function (index) {
                    if (autos.length == index) {
                        load()
                        return
                    }

                    var id = autos[index][0]

                    Webapi.exec("AddAutoReserve", { id: id, folder: folder }, function (ret) {
                        index++
                        if (ret.code == 0)
                            setTimeout(exec, 0, index)
                        else
                            Dialog.alert("移動に失敗しました。\n理由 : " + ret.message, function () {
                                setTimeout(exec, 0, index)
                            })
                    })
                }

                exec(0)
            })
        }

        enable()
        {
            enableAutoReserve(true)
        }

        disable()
        {
            enableAutoReserve(false)
        }

        function enableAutoReserve(enable)
        {
            var autos = self.autos.filter(function (auto) { return auto.checked })

            var exec = function (index) {
                if (autos.length == index) {
                    load()
                    updateReserve()
                    return
                }

                var id = autos[index][0]
                var status = enable ? 1 : 0

                Webapi.exec("AddAutoReserve", { id: id, status: status }, function (ret) {
                    index++
                    if (ret.code == 0)
                        setTimeout(exec, 0, index)
                    else
                        Dialog.alert("有効/無効化に失敗しました。\n理由 : " + ret.message, function () {
                            setTimeout(exec, 0, index)
                        })
                })
            }

            exec(0)
        }

        remove()
        {
            Dialog.confirm("選択された自動予約を削除してもいいですか？", function () {
                var autos = self.autos.filter(function (auto) { return auto.checked })

                var exec = function (index) {
                    if (autos.length == index) {
                        load()
                        updateReserve()
                        return
                    }

                    var id = autos[index][0]

                    Webapi.exec("RemoveAutoReserve", { id: id }, function (ret) {
                        index++
                        if (ret.code == 0)
                            setTimeout(exec, 0, index)
                        else
                            Dialog.alert("削除に失敗しました。\n理由 : " + ret.message, function () {
                                setTimeout(exec, 0, index)
                            })
                    })
                }

                exec(0)
            })
        }

        selectAll()
        {
            self.autos.forEach(function (auto)
            {
                auto.checked = true
            })
        }

        deselectAll()
        {
            self.autos.forEach(function (auto)
            {
                auto.checked = false
            })
        }

        checkChange(e)
        {
            e.item.auto.checked = e.item.auto.checked ? false : true
        }

        editAutoReserve(e)
        {
            var id = e.item.auto[0]
            self.tags["auto-reserve-edit"].show(id, function ()
            {
                load()
            })
        }

        changeFolder()
        {
            showFolderMenu(true, function (folder)
            {
                self.folder = folder
                load()
                localStorage.setItem("auto-reserve/folder", self.folder)
            })
        }

        function showFolderMenu(flg, callback)
        {
            flg = flg === "undefined" ? false: flg
            getFolders(function(folders)
            {
                folders.forEach(function (folder)
                {
                    folder.text = folder[0]
                })

                if (flg) {
                    folders.unshift({ text: "全部表示...", value: "all" });
                } else {
                    var flgs = false;
                    folders.forEach(function (folder){
                        if(folder.text == "デフォルト") flgs = true;
                    })
                    if(!flgs) folders.unshift({ text: "デフォルト", value: "デフォルト" });
                }

                folders.unshift({ text: "新しいフォルダ名を指定...", value: "new" })

                self.refs.folderselect.show(folders, function (item)
                {
                    if (item.value == "new") {
                        Dialog.prompt("フォルダ名を入力してください", function (name)
                        {
                            callback(name)
                        })
                    } else if (item.value == "all") {
                        callback("%")
                    } else {
                        callback(item.text)
                    }
                })
            })
        }

        function getFolders(callback)
        {
            var sql = 'select folder from auto_reserve group by folder order by folder'

            Webapi.getTable(sql, function (ret)
            {
                if (ret.code != 0)
                    Dialog.alert("自動予約フォルダの取得に失敗しました。理由 : " + ret.message)
                else
                    callback(ret.data1)
            })
        }

        function load()
        {
            var sql = "select auto_reserve.id, name, auto_reserve.status, option, count(reserve.auto), auto_reserve.recstat, folder"
                    + " from auto_reserve"
                    + " left join reserve on auto_reserve.id = reserve.auto"
                    + " where folder like '{0}'".format(Webapi.sqlEncode(self.folder)) // = to like
                    + " group by auto_reserve.id"
                + " order by folder, name";

            Webapi.getTable(sql, function (ret)
            {
                if (ret.code != 0)
                {
                    Dialog.alert("自動予約の取得に失敗しました。理由 : " + ret.message)
                    return
                }

                self.autos = ret.data1
                self.update()
            })

            sql = "select count(id) from auto_reserve where folder like '{0}'".format(Webapi.sqlEncode(self.folder)); // = to like

            Webapi.getTable(sql, function (ret)
            {
                if (ret.code != 0)
                {
                    Dialog.alert("自動予約数の取得に失敗しました。理由 : " + ret.message)
                    return
                }

                self.itemCount = ret.data1[0]
                self.update()
            })
        }
    </script>
</auto-reserve>
