
/* text */

img
{
    border: 0;
}

hr
{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

*,
*:before,
*:after
{
    box-sizing: border-box;
}

html,
body
{
    position: relative;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

html
{
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    font-family: sans-serif; /* 1 */
}

body
{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    font-size: 14px;
    background-color: black;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 1;
    font-weight: normal;
}

h1
{
    margin: 0.67em 0;
    font-size: 36px;
}

h2
{
    font-size: 30px;
}

h3
{
    font-size: 24px;
}

h4
{
    font-size: 18px;
}

h5
{
    margin-top: 20px;
    font-size: 14px;
}

h6
{
    margin-top: 20px;
    font-size: 12px;
}

.pull-left
{
    float: left !important;
}

.pull-right
{
    float: right !important;
}

a
{
    color: black;
    text-decoration: none;
}

/* button */

button
{
    border: none;
    outline: none;
}

.btn
{
    position: relative;
    padding: 0 12px;
    display: inline-block;
    min-height: 40px;
    line-height: 1;
    color: black;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #f1f1f1;
}

.btn-flat
{
    background-color: transparent;
}

.primary
{
    background-color: #0084e7;
}

    .primary.btn-flat
    {
        color: #0084e7;
    }

.positive
{
    background-color: #0ae700;
}

    .positive.btn-flat
    {
        color: #0ae700;
    }

.negative
{
    background-color: #f40b00;
}

    .negative.btn-flat
    {
        color: #f40b00;
    }

.btn.primary,
.btn.positive,
.btn.negative
{
    color: #fff;
}

.btn:active,
.btn:focus
{
    background-color: cornflowerblue !important;
}

.btn.fit-parent
{
    width: 100%;
}

/* content */

.content
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    margin: 40px 0 0 0;
}

.main-content
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    margin: 40px 0;
}

.video-content
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    margin: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

    .video-content video
    {
        width: 100%;
        height: 100%;
    }

/* header */

.header-bar
{
    position: absolute;
    right: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 40px;
    overflow: hidden;
    background-color: black;
}

    .header-bar .pull-left
    {
        padding-left: 12px;
    }

    .header-bar .pull-right
    {
        padding-right: 12px;
    }

    .header-bar .text
    {
        color: white;
        height: 40px;
        line-height: 40px;
        vertical-align: middle;
    }

    .header-bar .btn
    {
        position: relative;
        padding: 0 12px;
        height: 40px;
        line-height: 40px;
        vertical-align: middle;
        color: white;
        background-color: transparent;
        border: none;
        border-radius: 0;
    }

/* list */

.list > div
{
    display: block;
    height: 39px;
    line-height: 40px;
    overflow: hidden;
    border-bottom: 1px solid #eee;
    color: black;
    background-color: white;
    cursor: pointer;
    padding: 0 12px;
}

    .list > div .pull-right
    {
        padding-right: 12px;
    }

    .list > div:hover
    {
        background-color: #fafafa !important;
    }

    .list > div:active
    {
        background-color: #eee !important;
    }

.ilist > div
{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    height: 80px;
    color: black;
    padding: 0 12px;
}

    .ilist > div .info
    {
        color: gray;
    }

    .ilist > div:active
    {
        background-color: #eee !important;
    }

/* input */

textarea,
input[type="text"],
input[type="search"],
input[type="number"]
{
    width: 100%;
    height: 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #636363;
    background-color: white;
    border: none;
    border-bottom: 1px solid #ddd;
    outline: none;
    font-size: 100%;
}

    textarea:focus,
    input[type="text"]:focus,
    input[type="search"]:focus,
    input[type="number"]:focus
    {
        border-bottom-width: 2px;
        border-color: #0084e7;
    }

/* input-list */

.input-list > div
{
    display: block;
    height: 39px;
    line-height: 40px;
    overflow: hidden;
    color: black;
    background-color: white;
    padding: 0 12px;
}

    .input-list > div .pull-right
    {
        padding-right: 12px;
    }

    .input-list > div .select-item,
    .input-list > div .btn,
    .input-list > div .chk,
    .input-list > div input[type="text"],
    .input-list > div input[type="number"]
    {
        height: 36px;
        min-height: 36px;
        padding: 0 5px;
    }

    .input-list > div .btn
    {
        min-width: 100px;
    }

    .input-list > div .select-item
    {
        line-height: 35px;
        border-bottom: 1px solid #ddd;
        cursor: pointer;
    }

    .input-list > div .chk
    {
        padding-right: 0;
        cursor: pointer;
    }

        .input-list > div .chk:hover,
        .input-list > div .select-item:hover
        {
            background-color: #fafafa !important;
        }

        .input-list > div .chk:active,
        .input-list > div .select-item:active
        {
            background-color: #eee !important;
        }

/* dialog */

.dialog
{
    display: none;
}

    .dialog .backdrop
    {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, .2);
        z-index: 40;
    }

.dialogbox
{
    width: 280px;
    max-width: 90%;
    max-height: 90%;
    height: 200px;
    box-shadow: 0 2px 4px #8a8a8a;
    background-color: white;
    position: relative;
}

    .dialogbox .dialog-content
    {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: auto;
        margin-bottom: 40px;
        padding: 20px;
    }

    .dialogbox .buttons
    {
        position: absolute;
        bottom: 0;
        display: -webkit-flex;
        display: flex;
        border-top: 1px solid #eee;
        width: 100%;
        background-color: white;
    }

        .dialogbox .buttons .btn
        {
            border-right: 1px solid #eee;
        }

/* menu*/

.menu
{
    display: none;
}

    .menu .backdrop
    {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, .1);
        z-index: 30;
    }

        .menu .backdrop > .list,
        .menu .backdrop > .ilist
        {
            overflow-y: auto;
            height: auto;
            max-height: 90%;
            width: 280px;
            max-width: 90%;
            box-shadow: 0 2px 4px #8a8a8a;
            background-color: white;
        }

/* panel */

.panel
{
    display: none;
}

    .panel .backdrop
    {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .1);
        z-index: 30;
    }

.left-panel
{
    display: block;
    height: 100%;
    width: 300px;
    max-width: 80%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 4px #8a8a8a;
    background-color: white;
}

.right-panel
{
    display: block;
    height: 100%;
    width: 300px;
    max-width: 80%;
    position: fixed;
    top: 0;
    right: 0;
    box-shadow: 0 2px 4px #8a8a8a;
    background-color: white;
}

.panel .header-bar
{
    z-index: 31;
}
