/* for report.tag.html */
.maidchat p.text {
    font-size: initial;
    /*font-size: 18px;*/
}

.ilist > div
{
    height: 55px; /* defualt(base.css) 80px →55pxへ*/
}
.maidmenu
{
    font-size: initial;
}
.subheader{
    height:26px;
}
.listbox > div
{
    height: 26px;  /* just 1 line 26px */
    min-height: 26px;
}
.listbox .noicon{
    margin: 0px 0px 0px 12px;
}

.imglocal{
    margin: 2px 0 0px 0;
}
.listdata
{
    margin: 3px 0px 0px 37px;
    height: 26px;  /* just 1 line 26px */
    min-height: 26px;
}
.accordion label {
	padding: 5px;
}

/* subheader for phone */
.header-bar-fixed{
    position: fixed;
}
/* report.tag Reserve */
.fixed-r{
    position: fixed;
    width: 100%;
    top: 40px;
    left: 0;
    z-index: 25;
}
.listbox-r{
    margin: 36px 0 0 0;
}
/* report.tag Record Results */
.fixed-rr{
    position: fixed;
    width: 100%;
    top: 77px;
    z-index: 25;    
}
.listbox-rr{
    margin: 74px 0 0 0;
}
/* report.tag What's New */
.fixed-wn{
    position: fixed;
    width: 100%;
    top: 114px;
    z-index: 25;
}
.listbox-wn-fil{
    position: fixed;
    width: 100%;
    top: 151px;
    background: #999;
    z-index: 25;
}
.listbox-wn{
    margin:136px 0 0 0;
}
/* report.tag log */
.fixed-l{
    position: fixed;
    width: 100%;
    top: 151px;
    z-index: 25;
}
.listbox-l{
    margin: 148px 0 0 0;
}
