
.news
{
    background-color: white;
}

.sports
{
    background-color: white;
}

.infomation
{
    background-color: white;
}

.dorama
{
    background-color: lightcyan;
}

.music
{
    background-color: white;
}

.variety
{
    background-color: lightyellow;
}

.movie
{
    background-color: lightgreen;
}

.anime
{
    background-color: mistyrose;
}

.documentary
{
    background-color: white;
}

.performance
{
    background-color: white;
}

.education
{
    background-color: white;
}

.welfare
{
    background-color: white;
}

.genre-etc
{
    background-color: white;
}

.genre-none
{
    background-color: white;
}
