
.news
{
    background-color: #d4ffc8;
}

.sports
{
    background-color: #ffccef;
}

.infomation
{
    background-color: #f0f0f0;
}

.dorama
{
    background-color: #ffbbbb;
}

.music
{
    background-color: #b6f2ff;
}

.variety
{
    background-color: #faffb0;
}

.movie
{
    background-color: #ccfcf4;
}

.anime
{
    background-color: #dcddff;
}

.documentary
{
    background-color: #f0f0f0;
}

.performance
{
    background-color: #f0f0f0;
}

.education
{
    background-color: #f0f0f0;
}

.welfare
{
    background-color: #f0f0f0;
}

.genre-etc
{
    background-color: #f0f0f0;
}

.genre-none
{
    background-color: #f0f0f0;
}
