var LibraryPage = {}
<library show="{ visible }">
    <header class="header-bar">
        <button hide="{ isDir }" class="btn pull-left" onclick="MainMenu.show()"><i class="material-icons">&#xE04A;</i></button>
        <button show="{ isDir }" onclick="LibraryPage.upstep()" class="btn pull-left"><i class="material-icons">&#xE5C4;</i></button>
        <div class="text pull-left" ref="pagename">Library <span if="{ !clientType }">({ itemCount })</span></div>
        <div class="text pull-left" onclick="{ sortMode }">
            <i if="{ sortIcon == 0 }" title="Title" class="material-icons">&#xE053;</i>
            <i if="{ sortIcon == 1 }" title="OnAir" class="material-icons">&#xE916;</i>
            <i if="{ sortIcon == 2 }" title="Season/Episode" class="material-icons">&#xE53E;</i>
        </div>
        <div class="text pull-left" onclick="{ sortOrder }">
            <i if="{ !sortDesc }" title="asc" class="material-icons">&#xE316;</i>
            <i if="{ sortDesc }" title="desc" class="material-icons">&#xE313;</i>
        </div>
        <button class="btn pull-right" onclick="{ search }"><i class="material-icons">&#xE8B6;</i></button>
        <input type="search"
               class="pull-right"
               placeholder={ clientType ? '検索...' : 'ライブラリを検索...' }
               value="{ keyword }" ref="keyword-input"
               onkeyup="{ watchKey }"
               onfocus="{ setInputPos }"
               onblur="{ setInputPos }"
               style="{ clientType ? 'width:50px;' : 'width:50%;' }">
        <button id="lharrow" class="btn pull-right" onclick="{ searchHistory }" onblur="{ setInputPos }"><i class="material-icons">&#xE5C5;</i></button>
    </header>

    <content class="main-content" ref="content" onscroll="{ onscroll }">
        <div style="{ scrollHeight }">
            <div class="ilist" style="{ listTop }">
                <div each="{ record in records }"
                     class="{ nots: record.filetype !='TS' } { error: record.alive != '0' } { offline: record.alive == 2 } { folder: record.isFolder == 1 }"
                     onclick="{ showRecordPanel }"
                     no-reorder>
                    <img src='{ record.thumb }' height='50' width='89' onerror="this.src='NoImage.png'">
                    <div class="ilistline">
                        <div class="title">
                            <span show={ record.isFolder }><i class="material-icons" style="vertical-align:bottom;">&#xE2C7;</i></span>
                            { record.title }
                        </div>
                        <div class="info">
                            <i class="material-icons" style="vertical-align:middle; font-size:20px;">&#xE53E;</i>{ record[3] / 10 }
                            <span show={ record.isFolder }><i class="material-icons" style="vertical-align:middle; font-size:20px;">&#xE04A;</i>{ record[12] }</span>
                            <span show={ !record.isFolder }><i class="material-icons" style="vertical-align:middle; font-size:20px;">&#xE0CA;</i>{ record[4] / 10 }</span>
                            <i class="material-icons" style="vertical-align:middle; font-size:20px;">&#xE838;</i>{ record[9] }
                            &nbsp;<i class="material-icons" style="vertical-align:middle; font-size:20px;">&#xE916;</i>{ record.info }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </content>

    <pagetab></pagetab>

    <library-panel></library-panel>
    <history-menu ref="historyselect"></history-menu>
    <!--
    <text-menu ref="genreselect"></text-menu>
    -->
    <maid></maid>

    <style>
        .ilist {
            position: absolute;
            background-color: white;
            width: 100%;
        }
            .ilist .nots { /* keii mp4/m4v */
                background-color: lavender;
            }

            .ilist .folder { /* keii folder */
                background-color: lightyellow;
            }

                .ilist .folder > img { /* keii */
                    /*border-radius: 5px;*/
                    opacity: 0.8;
                    /*filter: sepia(100%);*/
                }

            .ilist .error {
                background-color: yellow;
            }

            .ilist .offline {
                background-color: lightgray;
            }

            .ilist > div {
                -webkit-justify-content: stretch;
                justify-content: stretch;
            }

                .ilist > div > img { /* keii kado-maru */
                    border-radius: 5px;
                }

            .ilist .ilistline {
                position: relative;
                left: 10px;
            }

                .ilist .ilistline .info {
                    color: gray;
                }

        input[type="search"] {
            height: 24px;
            margin: 8px 0;
            width: 50px; /* ex) 150ps */
        }

            input[type="search"]:focus {
                border-bottom-width: 0px;
            }
    </style>

    <script>
        "use strict"

        var self = this
        var router = route.create()

        var limit = clientType ? 30 : 45
        var itemHeight = clientType ? 80 : 55
        var contentTop = 0
        var contentTopRecent = 0
        
        self.isDir = false
        self.isUpstep = false

        LibraryPage = {
            update: function () {
                load("noscroll")
            },
            upstep: function () {
                self.isDir = false
                self.isUpstep = true
                self.foldername = ""
                self.sortIcon = parseInt(localStorage.getItem("lib-sortmode"), 10)
                load()
            }
        }

        this.on("mount", function () {
            self.keyword = ""
            self.foldername = ""
            self.sortIcon = isNaN(localStorage["lib-sortmode"]) ? 0 : parseInt(localStorage.getItem("lib-sortmode")) >= 3 ? 0 : parseInt(localStorage.getItem("lib-sortmode"))
            self.sortDesc = localStorage.getItem("lib-sortdesc") == "true" ? true : false
        })

        router('library?..', function () { // 検索
            var keyword = route.query().keyword

            keyword = keyword == null ? "" : decodeURIComponent(keyword)
            self.visible = true
            self.tags["maid"].show(); // "call maid-san"

            //読み込みの必要なし
            if (self.records != null && keyword == self.keyword)
                self.update()
            else {
                self.keyword = keyword
                load()
            }
        })

        router('library', function () {
            self.visible = true
            self.tags["maid"].show(); // "call maid-san"

            if (self.records != null) {
                self.update()
                history.replaceState(null, null, "#library?keyword=" + encodeURIComponent(self.keyword))
            }
            else {
                self.keyword = ""
                load()
            }
        })

        router('..', function () {
            self.visible = false
            self.tags["maid"].hide(); // "leave maid-san"
            self.update()
        })

        watchKey(e) // "検索word欄 確定を監視"
        {
            if (e.which == 13)
                this.search()
        }

        searchHistory()
        {
            if (clientType) {
                var x = 0;
                if (clientType) x = clientScreenWidth - 48 * 4 - self.refs["pagename"].clientWidth - 16
                self.refs["keyword-input"].style.width = x + "px"; // keyword-inputを広げます
            }
            var element = document.getElementById('lharrow'); // lharrow というIDがついたやつを取得する
            var rect = element.getBoundingClientRect();
            var pos = rect.left;

            var hist = LibraryKeywordHistoy.getList()
            var list = []

            hist.forEach(function (item) {
                list.push({ text: item })
            })

            if (list.length == 0) {
                Dialog.alert("履歴はありません。")
                return
            }

            list.unshift({ text: "ヒストリーをクリア...", value: "lclr" })

            self.refs.historyselect.show(list, pos, function (item) {
                if (item.value == "lclr") {
                    LibraryKeywordHistoy.clear()
                    self.update()
                } else {
                    LibraryKeywordHistoy.save(item.text) // 使ったヒストリーネタを繰り上げる
                    routing(item.text)
                }
            })
        }

        function routing(keyword) {
            router("library?keyword={0}&{1}".format(
                keyword == null ? self.keyword : encodeURIComponent(keyword),
                XDate.now()))
        }

        search()
        {
            var keyword = self.refs["keyword-input"].value
            LibraryKeywordHistoy.save(keyword)
            self.records = null
            routing(keyword)
        }

        showRecordPanel(e)
        {
            var id = e.item.record[0]

            if (e.item.record[11] > 0 && e.item.record[12] > 0) {
                self.isDir = true
                contentTopRecent = contentTop
                contentTop = 0
                self.foldername = e.item.record[1]
                self.sortIcon = 2 // sortはSason/Episode 
                load()
            } else {
                self.tags["library-panel"].show(id)
            }
        }

        sortMode()
        {
            self.sortIcon++
            if (self.sortIcon >= 3 && self.isDir)
                self.sortIcon = 0 
            if (self.sortIcon >= 2 && !self.isDir)
                self.sortIcon = 0 
                
            localStorage.setItem("lib-sortmode", self.sortIcon)
            loadEvent()
        }

        sortOrder()
        {
            self.sortDesc = !self.sortDesc
            localStorage.setItem("lib-sortdesc", self.sortDesc)
            loadEvent()
        }

        function load(noscroll) {
            //sortMode()
            var opt = new SearchOpt()
            opt.mode = "library" // keii

            var sql = "select count(id) from vi_headline"

            if(self.isDir && self.keyword == "")
                sql = "select count(id) from library where {0}".format(self.foldername == null ? "" : "title_group ='" + self.foldername + "'")

            if (!self.isDir && self.keyword != "")
                sql = "select count(b.id) from vi_headline b inner join library a on a.id = b.id where {0}".format(opt.keywordToSql(self.keyword))

            if (self.isDir && self.keyword != "")
                sql = "select count(b.id) from vi_headline_file b inner join library a on a.id = b.id where {0} and a.title_group = '{1}'".format(opt.keywordToSql(self.keyword), self.foldername)

            Webapi.getLibTable(sql, function (ret) {
                if (ret.code != 0) {
                    Dialog.alert("録画数の取得に失敗しました。理由 : " + ret.message)
                    return
                }

                self.itemCount = ret.data1[0]
                self.scrollHeight = "height:{0}px".format(itemHeight * self.itemCount)

                self.update()
                loadEvent() // リストネタ取得

                if (noscroll == null)
                    self.refs["content"].scrollTop = 0
            })

        }

        function updateEvent(force) {
            var content = self.refs["content"]

            if (self.isUpstep) {
                self.isUpstep = false
                content.scrollTop = contentTopRecent
            }
            
            if (force || Math.abs(contentTop - content.scrollTop) > itemHeight * 10) {
                //表示されている時だけscrollTopを取得(0になるため)
                if (self.visible) 
                    contentTop = content.scrollTop

                loadEvent()
            }
        }

        //スクロールイベントを間引く
        var onscroll2 = debounce(updateEvent, 300)

        onscroll()
        {
            onscroll2()
        }

        function loadEvent() {
            if (self.isUpstep && contentTopRecent > 0) {
                self.refs["content"].scrollTop = contentTopRecent
                contentTop = contentTopRecent
            }

            var contentHeight = self.refs["content"].clientHeight
            var offset = Math.floor(contentTop / itemHeight) - 10
            if (offset < 0)
                offset = 0

            var desc = self.sortDesc ? "collate nocase desc" : "collate nocase asc"
            var icon = ""
            switch (self.sortIcon) { // sort条件を増やす場合，ここで調整する
                case 0:
                    icon = "b.title" // カラム名です
                    break
                case 1:
                    icon = "b.onair"
                    break
                case 2:
                    icon = "b.season, b.episode"
                    break
                defalt:
                    icon = "b.title"
                    break
            }
            if (self.keyword == "")
                icon = icon.replace(/b\./g, "")


            if (self.keyword == "") {
                var sql = "select id, title, subtitle, season, episode, onair, duration, service, genre, rate,"
                    + " ext, is_alive, id_count"

                if (self.isDir) {
                    // top下
                    //offset = 0
                    sql = sql + " from vi_headline_file"
                        + " where title_group = '{0}'  and is_alive= 0".format(self.foldername)
                        + " order by {0} {1} limit {2} offset {3}".format(icon, desc, limit, offset)
                } else {
                    // top
                    sql = sql + " from vi_headline"
                        + " order by {0} {1} limit {2} offset {3}".format(icon, desc, limit, offset)
                }

            } else {
                // keyword有り
                var opt = new SearchOpt()
                opt.mode = "library" // keii

                sql = "select DISTINCT b.id, b.title, b.subtitle, b.season, b.episode, b.onair, b.duration, b.service, b.genre, b.rate,"
                    + " b.ext, b.is_alive, b.id_count"

                if (self.isDir) {
                    // Top下
                    //offset = 0
                    sql = sql + " from vi_headline_file b inner join library a on a.id = b.id"
                        + " where {0} and a.title_group = '{1}' and a.is_alive= 0".format(opt.keywordToSql(self.keyword), self.foldername)
                        + " order by {0} {1} limit {2} offset {3}".format(icon, desc, limit, offset)
                } else {
                    // Top
                    sql = sql + " from vi_headline b inner join library a on a.title = b.title"
                        + " where {0} ".format(opt.keywordToSql(self.keyword))
                        + " order by {0} {1} limit {2} offset {3}".format(icon, desc, limit, offset)
                }
            }

            Webapi.getLibTable(sql, function (ret) {
                if (ret.code != 0) {
                    Dialog.alert("録画の取得に失敗しました。理由 : " + ret.message)
                    return
                }

                self.records = ret.data1
                self.listTop = "top:{0}px;".format(Math.floor(itemHeight * offset))

                self.records.forEach(function (record) {
                    var onair = Webapi.convertXDate(record[5]);

                    if (record[11] == 0) {
                        // File
                        record.title = snipText(record[1] + " " + record[2])
                        record.info = "{0} {1}".format(
                            clientType ? Util.getTimeString2(onair) : Util.getTimeString2(onair, record[6]),
                            clientType ? "" : record[7])
                    } else {
                        // Folder
                        record.title = record[1]
                        record.info = Util.getTimeString2(onair, record[6])
                    }

                    record.thumb = "../thumblib/" + record[0] + ".jpg"
                    record.filetype = (record[10].match(/ts/i) ? "TS" : "MP4")
                    record.alive = record[11] == 0 ? (record[12] == 0 ? 0 : 1) : (record[11] == record[12] ? 0 : 2)
                    record.isFolder = record[11] > 0 && record[12] > 0 ? 1 : 0
                    record.rate = "★".repeat(record[9])
                })

                self.update()

            })

            function snipText(text) {
                var snip = ((window.innerWidth - 10 - 89 - 10) * (clientType ? 2 : 1)) / 14
                if (text.length > snip)
                    return text.substr(0, snip) + "…"

                return text
            }
        }

        setInputPos(e){            
            var x = 0
            if (clientType) {
                x = clientScreenWidth - 48 * 5 - self.refs["pagename"].clientWidth - 16 // -16は保険

                if (e.type == "focus") {
                    self.refs["keyword-input"].style.width = x + "px"
                } else {
                    if (typeof (e.value) === "undefined")
                        self.refs["keyword-input"].style.width = "50px"
                }
            } else {
                self.refs["keyword-input"].style.width = "50%"
            }
        }
    </script>
</library>
