<library-panel class="panel" style="{ visible }">
    <backdrop class="backdrop" onclick="{ hide }">
        <panel class="right-panel">
            <header class="header-bar">
                <button class="btn" show="{ isAlive }" onclick="{ removeFile }">
                    <i class="material-icons">{ isTrash ? "&#xE872;" : "&#xE92B;" }</i>
                </button>
                <button class="btn pull-right" onclick="{ websearch }"><i class="material-icons">&#xE894;</i></button>
            </header>

            <content class="content" ref="content">
                <div id="info">
                    <div>
                        <h4>{ title }</h4>
                        <div>{ episode }</div>
                        <div>{ subtitle }</div>
                        <div>{ time }</div>
                        <div>{ service }</div>
                        <button show="{ isAlive }" class="btn primary" onclick="{ playRecord }">{ playBtn }</button>
                        <button hide="{ isAlive }" class="btn">再生不可</button>
                        <div show="{ isKodi }" class="btn pull-right box"  onclick="{ onclickKodi }">
                            <label for="inbox1">kodi</label>
                            <input type="checkbox" id="inbox1" ref="inbox1" class="on-off">
                            <div>
                                <ul>
                                    <li onclick="{ playByKodi }">Play</li>
                                    <li onclick="{ addListByKodi }">List</li>
                                    <li onclick="{ openByKodi }">Web</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div>
                        <img src='{ thumb }' width='241' onerror="this.src='NoImage.png'"> <!-- 96x54 / 3x4-->
                    </div>
                    <hr>
                    <div>
                        <div class="select-item" onclick="{ setRate }">
                            <span>レート：{ rate }</span>
                        </div>
                        <div onclick="{ setRemarks }">
                            備考：<span ref="remarks" />
                        </div>
                        <div>視聴：{ playcount }</div>
                    </div>
                    <hr>
                    <div>
                        <div>
                            <div ref="desc" />
                            <br>
                        </div>
                        <div>
                            <div ref="longdesc" />
                            <br>
                        </div>
                        <div>
                            <div ref="genreText" />
                        </div>
                    </div>
                    <hr />
                    <div>ID：{ id }</div>
                    <div onclick="{ setTitleGroup }">
                        Group：<span ref="titlegroup" />
                    </div>
                    <hr />
                    <div>
                        <div>格納場所：{ file }</div>
                    </div>
                </div>
            </content>
        </panel>
    </backdrop>

    <text-menu ref="setrate"></text-menu>

    <style>
        .content {
            -webkit-user-select: text;
            -moz-user-select: text;
            -ms-user-select: text;
            user-select: text;
        }

        #info {
            padding: 1.5em 0;
        }

            #info > div {
                padding-left: 1.5em;
                padding-right: 1.5em;
            }

            #info button {
                margin-top: 5px;
                min-width: 100px;
                min-height: 30px;
            }

            #info .small {
                margin-top: 5px;
                min-width: 40px;
                min-height: 30px;
            }

        .menu .backdrop {
            padding-top: 40px;
            padding-left: 50%;
            align-items: self-start;
            justify-content: center; /*flex-start;*/
        }

        .box {
            margin-top: 5px;
            min-width: 50px;
            min-height: 30px;
            background: mediumseagreen;
        }

            .box label {
                color: white;
                display: block;
                margin-top: 10px;
                cursor: pointer;
            }

            .box input[type="checkbox"].on-off,
            .box input[type="checkbox"].on-off + div {
                display: none;
            }

                .box input[type="checkbox"].on-off:checked + div {
                    display: block;
                    position: absolute;
                }

            .box div {
                margin: -6px 0 0 -12px;
                width: 74px;
            }

            .box ul {
                background: #f1f1f1;
                padding: 2px;
            }

            .box li {
                padding: 10px 0px 0px 0px;
                margin: 0px 3px 0 3px;
                min-height: 30px;
                list-style: none;
                border-bottom: 1px solid mediumseagreen;
                text-align: center;
            }

    </style>

    <script>
        "use strict"

        var self = this
        var recordId = null
        self.isTrash = false
        self.KodiUrl = ""

        hide(e)
        {
            if (e.target == e.currentTarget)
                self.visible = ""
        }

        removeFile() 
        {
            var msg = self.isTrash
                ? "ファイルを削除してもいいですか？"
                : "このファイルを完全に削除しますか？"
            Dialog.confirm(msg, function () {
                Webapi.exec("RemoveLibFile", { id: recordId }, function (ret) {
                    if (ret.code != 0)
                        Dialog.alert("ファイルの削除に失敗しました。")
                    else
                        Dialog.alert("削除しました。")
                })
                self.show(recordId)
                LibraryPage.update()
            })
        }

        websearch()
        {
            window.open(Util.getWebSearchLink(self.title), '_blank')
        }

        playRecord()
        {
            if (self.file.match(/.ts$/i)) {
                RecordPlayPage.initVideo()
                location.href = "#record-play/lib" + recordId 
            } else {
                RecordDownloadPlayPage.initVideo()
                location.href = "#record-download-play/lib" + recordId 
            }

            Webapi.exec("SetPlayCount", { "id": recordId }, function (ret) {
                if (ret.code != 0)
                    Dialog.alert("視聴回数の登録に失敗しました。 理由 : " + ret.message)
            })
            self.update()
        }

        onclickKodi()
        {
            self.refs['inbox1'].checked = !self.refs['inbox1'].checked
        }

        playByKodi()
        {
            Webapi.exec("PlayByKodi", { "id": recordId, "target": "library","play": "true" }, function (ret) {
                if (ret.code != 0)
                    Dialog.alert("Kodiへキックできませんでした。 理由 : " + ret.message)
            })
        }

        addListByKodi()
        {
            Webapi.exec("PlayByKodi", { "id": recordId, "target": "library", "play": "false" }, function (ret) {
                if (ret.code != 0)
                    Dialog.alert("Kodiへキックできませんでした。 理由 : " + ret.message)
            })
        }

        openByKodi()
        {
            window.open(self.KodiUrl, '_blank')
        }

        show(id)
        {
            recordId = id

            Webapi.exec("UseKodi", {}, function (ret) {
                self.isKodi = ret.code == 0 ?  true : false
                if (self.isKodi)
                    Webapi.exec("GetKodiUI", { "id": recordId, "target": "library" }, function (ret) {
                        if (ret.code != 0)
                            Dialog.alert("Kodi UIのURLを取得できませんでした。 理由 : " + ret.message)
                        else {
                            self.KodiUrl = ret.data1
                        }
                    })
            })

            var sql = "select [path], duration, title, subtitle, service, [comment], description, season, episode, genre,"
                + " aired_date, play_date, play_count, rate, remarks, is_alive, title_group"
                + " from library"
                + " where id = " + recordId

            Webapi.getLibTable(sql, function (ret) {
                if (ret.code != 0) {
                    Dialog.alert("録画の取得に失敗しました。理由 : " + ret.message)
                    return
                }

                var record = ret.data1[0]

                self.id = recordId
                self.file = record[0]
                self.refs.titlegroup.innerHTML = record[16].htmlText()
                self.title = record[2]
                self.subtitle = record[3]

                self.service = record[4]
                self.playBtn = self.file.match(/.ts$/i) ? '再生' : '再生(DL)' // keii

                self.episode = (record[7] != 0 ? "シーズン " + (record[7] / 10).toString().toZenkaku() + ": " : "")
                    + (record[8] != 0 ? "第" + (record[8] / 10).toString().toZenkaku() + "話" : "")

                var onair = Webapi.convertXDate(record[10])
                self.time = onair.toString("yyyy/") + Util.getTimeString2(onair, record[1])

                self.rate = "★".repeat(record[13]) + "☆".repeat(5 - record[13])
                self.refs.remarks.innerHTML = record[14].htmlText()

                self.refs.desc.innerHTML = record[5].htmlText()
                self.refs.longdesc.innerHTML = record[6].htmlText()
                self.refs.genreText.innerHTML = record[9].htmlText2()

                self.isAlive = record[15] == 0

                self.thumb = "/thumblib/" + id + ".m.jpg"

                self.playcount = (record[11] == null ? "---" : Util.getTimeString2(Webapi.convertXDate(record[11]))) + " (" + record[12] + "回)"

                self.visible = "display: block;"
                self.update()

                self.refs["content"].scrollTop = 0
            })

            // Remove時，ごみ箱使えるか先に調べて，ネタに使う
            // ごみ箱を使えない場合，ごみ箱アイコンを"&#xE92B;"へ
            // CheckRemoveLibFileで，Registry読んだりしているので，動作が不穏な場合，以下をコメントアウトすること！
            // コメントアウトする際は，"self.isTrash = true"だけは残してください。(ごみ箱アイコンに効いてきます)
            Webapi.exec("CheckRemoveLibFile", { id: recordId }, function (ret) {
                if (ret.code != 0) 
                    self.isTrash = false
                else 
                    self.isTrash = true

                self.update()
            })
        }
        
        setRate(e)
        {
            var list =
                [
                    { text: "" },
                    { text: "★" },
                    { text: "★★" },
                    { text: "★★★" },
                    { text: "★★★★" },
                    { text: "★★★★★" }
                ]

            //self.disppos = "-webkit-align-items: self-start;-webkit-justify-content: flex-start;align-items: center;justify-content: center;" // parts.tagのstyleを上書き？
            self.disppos = "setrate"
            self.refs.setrate.show(list, function (item) {
                var rate = (item.text).length

                Webapi.exec("SetRate", { "id": recordId, "rate": rate }, function (ret) {
                    if (ret.code != 0)
                        Dialog.alert("レートを設定に失敗しました。詳細はログを参照してください。")
                })

                self.rate = "★".repeat(rate) + "☆".repeat(5 - rate)
                LibraryPage.update()
            })
        }

        setRemarks()
        {
            Dialog.editor("コメント編集", function (text) {
                Webapi.exec("SetLibRemarks", { "id": recordId, "text": text }, function (ret) {
                    if (ret.code != 0)
                        Dialog.alert("コメントの更新に失敗しました。\n理由 : " + ret.message)
                }, self.refs.remarks.innerText)

                self.refs.remarks.innerHTML = text.htmlText()
            })
        }

        setTitleGroup()
        {
            Dialog.editor("フォルダ名編集", function (text) {
                Webapi.exec("SetTitleGroup", { "id": recordId, "text": text }, function (ret) {
                    if (ret.code != 0)
                        Dialog.alert("フォルダ名の更新に失敗しました。\n理由 : " + ret.message)
                }, self.refs.titlegroup.innerText)

                self.refs.titlegroup.innerHTML = text.htmlText()
                LibraryPage.update()
            })
        }

    </script>
</library-panel>



