<!--<maid show="{ visible }">-->
<maid class="maidclass" style="{ visible }">
    <!-- maidさん -->
    <div class="{ maidPos }" ref="maid">
        <div class="{ maidbody }">
            <div class="{ icon }">
                <img src = "{ maidpic }" width = "64px" height = "64px" alt = "" onclick="{ maidClick }">
                <!--<figcaption class="faceicon-description">{ maidname }</figcaption>-->
            </div>
            <div class="{ maidchat }">
                <div class="{ balloon }" onclick="{ maidClick }" ref="maidballoon">
                    <p id="speach" class="text" ref="maidspeach"></p>
                    <p id="menu" class="text" ref="maidmenu"></p>
                </div>
            </div>
        </div>
    </div>

    <style>
        /* Position "bottom" */
        .maid{
            position: absolute;
            width: 100%;
            bottom:35px;
            z-index:20001;
        }
        .maidbody{
            position: relative;
            vertical-align: bottom;
        }
        .maidchat{
            position: relative;
            vertical-align: bottom;
        }
        .balloon, .balloon1{
            position: absolute;
            right:80px;
            padding: 10px;
            bottom: 8px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px #a7a7a7;
            margin-right: 10px;
            margin-left: 8%; /* 本体menu アイコン対策 */
            float: right;
            white-space: nowrap;
        }
        .maidchat p.text {
            min-width: 50px; /* maid 吹き出しの横サイズ*/
            overflow: hidden;
            font-size: 11px;
            white-space: nowrap;
        }
        .maidchat p.text:last-child {
            margin-top: 0;
            margin-bottom: 0;
        }

        /* for icon */
        .icon {
            position: absolute;
            right: 10px;
            bottom: 0px;
            width: 60px;
            height: 60px;
            margin: 0 10px 0 0; /* google検索アイコンの為ちょっとずらす */
            float: right;
        }
        .icon img {
            width: 100%;
            height: 100%;
            border: 1px solid #aaa;
            border-radius: 50%;
            margin: 0;
            box-shadow: 0px 0px 10px 0px #a7a7a7;
        }

        /* Balloon(parts) Δ */
        .balloon::before {
            position: absolute;
            content: '';
            border: 8px solid transparent;
            border-left: 8px solid #eee;
            bottom: 5px;
            right: -16px;
        }

        /* Balloon(parts) large ● */
        .balloon1::before{
            position: absolute;
            content: '';
            display: block;
            border-radius: 50%;
            background-color: #eee;
            right: -10px;
            bottom: 22px;
            width: 14px;
            height: 14px;
            box-shadow: 0px 0px 10px 0px #a7a7a7;
        }
        /* Balloon(parts) small ● */
        .balloon1::after{
            content: '';
            position: absolute;
            display: block;
            border-radius: 50%;
            background-color: #eee;
            right: -15px;
            bottom: 20px;
            width: 8px;
            height: 8px;
            box-shadow: 0px 0px 10px 0px #a7a7a7;
        }

        /* Position "top" */
        .maidT{
            position: absolute;
            width: 80px;
            top:3px;
            right:3px;
            z-index:20001;
        }
        .maidbodyT{
            position: relative;
            vertical-align: top;
        }
        .maidchatT{
            position: relative;
            vertical-align: top;
        }

        /* Balloon(body) */
        .balloonT, .balloonT1{
            position: absolute;
            right:80px;
            padding: 10px;
            top:1px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px #a7a7a7;
            margin-right: 10px;
            margin-left: 8%; /* 本体menu アイコン対策 */
            float: right;
            white-space: nowrap;
        }
        .maidchatT p.text {
            min-width: 50px; /* maid 吹き出しの横サイズ*/
            overflow: hidden;
            font-size: 11px;
            white-space: nowrap;
        }
        .maidchatT p.text:last-child {
            margin-top: 0;
            margin-bottom: 0;
        }

        /* for icon */
        .iconT{
            position: initial;
            right: 10px;
            bottom: 0px;
            width: 60px;
            height: 60px;
            margin: 0 10px 0 0; /* google検索アイコンの為ちょっとずらす */
            float: right;
        }
        .iconT img{
            width: 100%;
            height: 100%;
            border: 1px solid #aaa;
            border-radius: 50%;
            margin: 0;
            box-shadow: 0px 0px 10px 0px #a7a7a7;
        }

        /* Balloon(parts) Δ */
        .balloonT::before {
            position: absolute;
            content: '';
            border: 8px solid transparent;
            border-left: 8px solid #eee;
            top: 10px;
            right: -16px;
        }

        /* Balloon(parts) large ● */
        .balloonT1::before{
            position: absolute;
            content: '';
            display: block;
            border-radius: 50%;
            background-color: #eee;
            right: -10px;
            bottom: 22px;
            width: 14px;
            height: 14px;
            box-shadow: 0px 0px 10px 0px #a7a7a7;
        }
        /* Balloon(parts) small ● */
        .balloonT1::after{
            position: absolute;
            content: '';
            display: block;
            border-radius: 50%;
            background-color: #eee;
            right: -15px;
            bottom: 20px;
            width: 8px;
            height: 8px;
            box-shadow: 0px 0px 10px 0px #a7a7a7;
        }
    </style>
    <script>
        "use strict"

        var self = this;
        var router = route.create()
        
        // for maid
        var spMode = false;
        var spModeCnt = false;

        var maidpath = "/maiddata/"; // JSONデータのパス(おしりに"/"付けて。 iconは，その下/image)
        self.maidname = ""; // 空のままで！
        self.balloon="balloon";
        var maidwords = []; // つぶやきの格納場所
        var maidmenu = [];  // メニューの格納場所
        var maidIntId = 0;  // setInterval ID
        var maidPosition = false; // top(true) or bottom(false)

        // 以下，maiddefN.jsonで設定する
        var defmsg = "お呼びですか ご主人様 ♥";
        var defpic = "shironeko.jpg";
        var pagemsg = "{page}になります ご主人様";
        var speakInterval = 5; // つぶやきインターバル 初期値(秒)
        var quietInterval = 30; // 静かに！インターバル 初期値(秒)
        var defbgc = "#fff";


        show(){
            maidPosition = (document.URL.match(/\#report/) ? true : false);
            setPosition();
            startSpeakTimer();
            menuff(false);
            load();
            self.visible = "display: block;";
        }

        hide(){
            stopSpeakTimer();
            self.visible = "";
            //menuff(false);
        }

        function quiet(e){
            setTimeout(function(){
                $('.maidclass').css('opacity','0');
                
                setTimeout(function(){
                    self.hide();
                    self.update();

                    setTimeout(function(){
                        //$('.maidclass').css('opacity','1');
                        lastmaidpage[0] = "";
                        self.show();

                    }, quietInterval * 1000);
                }, 500);
            }, 1000);
        }

        function setPosition(){
            if(maidPosition) {
                self.maidPos = "maidT";
                self.maidbody = "maidbodyT";
                self.maidchat = "maidchatT";
                self.balloon = "balloonT";
                self.icon = "iconT";
            } else {
                self.maidPos = "maid";
                self.maidbody = "maidbody";
                self.maidchat = "maidchat";
                self.balloon = "balloon";
                self.icon = "icon";
            }

            if(clientType){
                var s = self.refs.maidmenu.style.cssText + "font-size: 20px;";
                self.refs.maidmenu.style.cssText = s;
                
            } else {
                var s = self.refs.maidspeach.style.cssText + "font-size: initial;";
                self.refs.maidspeach.style.cssText = s;
            }

            self.update();
        }

        function setBGcolor(color){
        
            color = color == null ? defbgc : (String(color).length == 0 ? defbgc : color);
        
            if(color.match(/^\#/)) color = color.slice(1);
            if(color.length == 3){
                var color = parseInt("0x" + color.substr(0,1))
                + ", " + parseInt("0x" + color.substr(1,1))
                + ", " + parseInt("0x" + color.substr(2,1));
            } else {
                var color = parseInt("0x" + color.substr(0,2))
                + ", " + parseInt("0x" + color.substr(2,2))
                + ", " + parseInt("0x" + color.substr(4,2));            
            }

            var z = "balloon";
            if(maidPosition) { z += "T" };
            
            $('.' + z).css('background-color', 'rgb(' + color + ')');
            $('.' + z + '1').css('background-color', 'rgb(' + color + ')');

            replaceCSSRule("^maid ." + z + "::before", ["border-left", "10px solid rgb(" + color + ")"]);
            replaceCSSRule("^maid ." + z + "1::before", ["background-color", "rgb(" + color + ")"]);
            replaceCSSRule("^maid ." + z + "1::after", ["background-color", "rgb(" + color + ")"]);

        }

        function setBalloonType(type){
            var x = "balloon";
            if(maidPosition) { x += "T" };
            self.balloon = (type == null ? x : (type.length == 0 ? x : x + "1") );
        }

        function preLoad(){
            var now = new XDate(XDate.now()).getDay();
            var filename = "maiddef0.json";
            filename = filename.replace(/\d/,now);
            loadMaidJSON(filename);
            //setPosition();
            setBalloonType("");
            setBGcolor(defbgc);

            loadMaidMenu();
        }

        function load(){
            preLoad();
            loadLogError();
            self.maidpic = maidpath + "image/" + defpic;

            var msg = chkTimming();
            speak(msg);
        }

        function chkTimming(){
            // ほかのページから移動時のメッセージ生成            
            var msg = "",
                //x = self._parent.root.localName,
                x = self.parent.root.localName,
                array = {
                    live:"ライブ",
                    epg:"番組表",
                    wepg:"週間表",
                    reserve:"予約一覧",
                    wreserve:"予約分布",
                    record:"録画一覧",
                    search:"番組検索",
                    "auto-reserve":"自動予約",
                    log:"ログ",
                    report: "レポート",
                    library: "ライブラリ"
                };
            if(lastmaidpage[0] != "") { msg = array[x]; }
            
            msg = msg == "" ? defmsg : pagemsg.replace(/{page}/i,msg);
            
            lastmaidpage[1] = lastmaidpage[0];
            lastmaidpage[0] = x;
            
            return msg;
            
        }

        function maidSpeakSelf(){
            var x = Math.floor(Math.random() * (maidwords.length - 3));
            if(lastmaidpage[0] != "" && lastmaidpage[1] == "" ) {
                if(spModeCnt == false) {
                    x = 0;
                    spModeCnt = true;
                }
            }
            
            var msg = "";
            if(maidwords.length == 0){
                msg = defmsg;
                self.maidpic = maidpath + "image/" + defpic;
            } else {
                msg = maidwords[x][0];
                msg = msg.replace(msg.match(/{self.logErrItemCount}/), self.logErrItemCount); // 1行目の置き換え
                self.maidpic = maidpath + "image/" + (maidwords[x][1] == "" ? defpic: maidwords[x][1]);
            }

            setBalloonType(maidwords[x][3]);
            setBGcolor(maidwords[x][2]);
            
            speak(msg);

        }

        function menuff(menuon){
            var m = self.refs.maidmenu.style.cssText;
            var s = self.refs.maidspeach.style.cssText;
            
            if(menuon){
                m = m.replace( "display: none;","") + "display: initial;";
                s = s.replace( "display: initial;","") + "display: none;";
            } else {
                s = s.replace( "display: none;","") + "display: initial;";
                m = m.replace( "display: initial;","") + "display: none;";
            }
            self.refs.maidmenu.style.cssText = m;
            self.refs.maidspeach.style.cssText = s;                
        }

        function maidClickSub(mwl, n) {
            menuff(false);
            setBalloonType(maidwords[mwl - n][3]);
            setBGcolor(maidwords[mwl - n][2]);
            self.maidpic = maidpath + "image/" + (maidwords[mwl - n][1] == "" ? defpic : maidwords[mwl - n][1]);
            if (n != 3) {
                speak(maidwords[mwl - n][0]);
            }
        }

        maidClick(e){
            // void()用
            if(e.target.href != null){
                var mwl = maidwords.length

                if (e.target.href.match(/javascript:void\("free"\)/i)) {
                    // 容量教えて
                    Webapi.exec("GetRecordFolderFree", {}, function (ret) {
                        if (ret.code == 0) {
                            var x = ret.data1

                            maidClickSub(mwl, 3);
                            speak(maidwords[mwl - 3][0].replace(maidwords[mwl - 3][0].match(/{self.freeSpace}/), String((x / 1000000000).toFixed(2)).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, '$1,')));
                            startSpeakTimer();
                        } else {
                            Dialog.alert(ret.message + "（てへっ")
                        }
                    })
                    return;
                } else if (e.target.href.match(/javascript:void\(0\)/i)) { 
                    // ん？何でもないょ
                    maidClickSub(mwl, 2);
                    startSpeakTimer();
                    return;
                } else if(e.target.href.match(/javascript:void\("quiet"\)/i)){ 
                    // ちょっと静かに！
                    maidClickSub(mwl, 1);
                    quiet(e);
                    return;
                } else {
                    //stopSpeakTimer();
                    menuff(false);
                    return;
                }
            }

            if(spMode){
                stopSpeakTimer();
                menuff(true);

            } else {
                menuff(false);
                lastmaidpage[0] = "";
                speak("ん？");
                setTimeout(maidSpeakSelf, 500);
                startSpeakTimer();
            }
            self.update();
        }

        function loadMaidMenu(){
            var msg = "";
            if(maidmenu.length == 0) {
                msg = "<div class='maidmenu'><b>ひぃっ!</b> ごごっご<br>ご用ですか？ご主人様<br>"
                    + "<a href='#epg'>　番組表を見せて</a><br>"
                    + "<a href='#search'>　番組を検索</a><br>"
                    + "<a href='#reserve'>　予約を見せて</a><br>"
                    + "<a href='#auto-reserve'>　自動予約を開いて</a><br>"
                    + "<a href='manual.html' target='blank'>　マニュアル見せて</a><br>"
                    + "<a href='javascript:void(\"free\")'>残り容量を教えて</a><br>"
                    + "<a href='javascript:void(0)'>ん？何でもないよ</a><br>"
                    + "<a href='javascript:void(\"quiet\")'>下がってよし！！</a></div>"
            }else{
                for(var i = 0; i < maidmenu.length - 3; i++){
                    msg += maidmenu[i];
                }
                msg = "<div class='maidmenu'>"
                    + msg
                    + "<a href='javascript:void(\"free\")'>" + maidmenu[maidmenu.length - 3] + "</a><br>"
                    + "<a href='javascript:void(0)'>" + maidmenu[maidmenu.length -2] + "</a><br>"
                    + "<a href='javascript:void(\"quiet\")'>" + maidmenu[maidmenu.length -1] + "</a></div>"
            }
            self.refs.maidmenu.innerHTML = msg;
            self.update();
        }

        function speak(msg){
            self.refs.maidspeach.innerHTML = msg;
            self.update();
            //maidIntId;
        }

        function startSpeakTimer(){
            spMode = true;
            clearInterval(maidIntId);
            maidIntId = setInterval(maidSpeakSelf, (speakInterval * 1000)); /* maid 話す間隔 */
        }

        function stopSpeakTimer(){
            spMode = false;
            clearInterval(maidIntId);
        }

        function loadMaidJSON(filename){
            filename = filename || "maiddef0.json";
            maidwords = [];

            $.ajax({
                type: "GET", 
                url: maidpath + filename,
                async: false,
                error: function(){filename="maiddef0.json";}
            });
            $.ajax({
                type: "GET", 
                url: maidpath + filename,
                dataType: 'json', // Windows10不調対応
                async: false,
                success: function(json){
                    //var data = JSON.parse(json); // Windows10不調対応
                    var data = json;

                    // setting
                    self.maidname = data.setting.name;
                    speakInterval = data.setting.interval == "" ? speakInterval : data.setting.interval;
                    quietInterval = data.setting.quietinterval == "" ? quietInterval : data.setting.quietinterval;
                    defmsg = data.setting.defmsg == "" ? defmsg : data.setting.defmsg;
                    defpic = data.setting.defpic == "" ? defpic : data.setting.defpic;
                    defbgc = data.setting.defbgc == "" ? defbgc : data.setting.defbgc;
                    pagemsg = data.setting.pagemsg == "" ? pagemsg : data.setting.pagemsg;
                    
                    // speak
                    data.speak.forEach(function(x){
                        maidwords.push(x);
                    });

                    // menu
                    if(data.menu !== undefined){
                        if(data.menu.length > 0){
                            maidmenu = [];
                        }
                        data.menu.forEach(function(x){
                            maidmenu.push(x);
                        });
                    } else {
                        maidmenu = [];
                    }
                }
            });
        }
        
        function loadLogError(){ // Log内の２４時間中のError数取得
            var now = new XDate(XDate.now());
            var term = Webapi.convertDateTime(now.clone().addDays(-1));

            var sql = "select count(type) from log where type = 3 and time > {0} order by time desc".format(term);
            getLog(sql, function (ret){
                self.logErrors = ret.data1
                self.logErrItemCount = self.logErrors[0]; // Item Counts

                self.update()
            })
        }

        function getLog(sql, callback){
            Webapi.exec("GetLog", { sql: sql }, function (ret){
                if (ret.code == 0)
                    callback(ret)
                else
                    Dialog.alert("ログの取得に失敗しました。理由 : " + ret.message)
            })
        }

        function replaceCSSRule(selector, style) {
            var sheets = document.styleSheets,
                 sheet = sheets[sheets.length - 1];
            for(var i = (sheet.cssRules.length -1) ; i >= 0; i--){
                if( sheet.cssRules[i].type == 1){
                    var x = sheet.cssRules[i].selectorText;
                    var regex = new RegExp(selector,"i");
                    if(x.match(regex)){
                        sheet.cssRules[i].style[style[0]] = style[1];
                        break;
                    }
                }
            }
        }

    </script>
</maid>
