<text-menu class="menu" style="{ visible }">
    <backdrop class="backdrop { pos }" onclick="{ hide }">
        <div class="list">
            <div each="{ item in items }" onclick="{ selected }" no-reorder>
                { item.text }
            </div>
        </div>
    </backdrop>
    <!-- keii -->
    <style>
        /* keii Menuリストを左寄せ */
        :scope.menu .backdrop {
            padding-top: 40px;
            padding-left: 40px; /* MainMenuアイコン分ずらす */
            -webkit-align-items: self-start;
            align-items: self-start;
            -webkit-justify-content: flex-start;
            justify-content: flex-start;

        }
        :scope.menu .longseek {
            /* 録画再生 */
            padding-bottom: 38px;
            padding-left: 80px;
            -webkit-align-items: baseline;
            -webkit-justify-content: flex-start;
            align-items: flex-end;
            justify-content: flex-start;
        }
        :scope.menu .setrate .res_edit_selectTuner .res_edit_selectService {
            /* ライブラリパネル と予約編集パネル*/
            -webkit-align-items: self-start;
            -webkit-justify-content: flex-start;
            align-items: center;
            justify-content: center;
        }
    </style>
    <!--      -->
    <script>
        "use strict"

        var self = this
        var callback

        selected(e)
        {
            callback(e.item.item)
        }

        show(items, _callback)
        {
            callback = _callback
            self.items = items
            self.visible = "display: block;"

            var x = self.parent.disppos
            self.pos = (x == null || x == "undefined") ? "" : x

            self.update()
        }

        hide()
        {
            self.visible = ""
        }
    </script>
</text-menu>

<info-menu class="menu" style="{ visible }">
    <backdrop class="backdrop" onclick="{ hide }">
        <div class="ilist" id="list">
            <div each="{ item in items }" onclick="{ selected }" no-reorder>
                <div>
                    <div>{ item.text }</div>
                    <div class="info">{ item.info }</div>
                </div>
            </div>
        </div>
    </backdrop>

    <style>
        #list
        {
            width: 450px; /* default 360px*/
        }
    </style>

    <script>
        "use strict"

        var self = this
        var callback

        selected(e)
        {
            callback(e.item.item)
        }

        show(items, _callback)
        {
            callback = _callback
            self.items = items
            self.visible = "display: block;"
            self.update()
        }

        hide()
        {
            self.visible = ""
        }
    </script>
</info-menu>

<!-- keii search history list -->
<history-menu class="menu" style="{ visible }">
    <backdrop class="backdrop" style="{ pos }" onclick="{ hide }">
    <div class="list" style="{ clientType ? '' : 'width: 80%'}">
        <div each="{ item in items }" onclick="{ selected }" no-reorder>
            { item.text }
        </div>
    </div>
    </backdrop>
    
    <style>
        :scope.menu .backdrop > .list {overflow-x: auto;}
        :scope.menu .backdrop {
            padding-top: 40px;
            padding-left: 40px;
            -webkit-align-items: self-start;
            align-items: self-start;
            -webkit-justify-content: flex-end;
            justify-content: flex-end;
        }
    </style>
    
    <script>
        "use strict"
        
        var self = this
        var callback
        
        selected(e)
        {
            callback(e.item.item)
        }
        
        show(items, pos,  _callback) // keii add "pos" = left Pos of History Icon
        {
            callback = _callback
            self.items = items
            
            self.pos = clientType ? "" : "padding-left: " + pos + "px; justify-content: flex-start;"
            
            
            self.visible = "display: block;"
            self.update()
        }
        
        hide()
        {
            self.visible = ""
        }
    </script>
</history-menu>

<volume class="dialog" style="{ visible }">
    <backdrop class="backdrop" onclick="{ hide }">
        <div class="dialogbox">
            <h4><i class="material-icons">volume_up</i></h4>
            <input type="range" ref="bar" onchange="{ move }" oninput="{ move }">
            <h4 id="counter">{ counter }</h4>
        </div>
    </backdrop>

    <style>
        :scope.dialog .backdrop
        {
            z-index: 100;
        }

        .dialogbox
        {
            height: 40px;
            box-shadow: inherit;
            display: flex;
            background-color: transparent;
            color: white;
        }

        h4
        {
            width: 40px;
            line-height: 60px;
            height: 60px;
        }

        input[type=range]
        {
            width: 100%;
            padding: 0 12px;
            height: 60px;
            background-color: transparent;
            border: none;
            flex-grow: 8;
        }
    </style>

    <script>
        var self = this
        var bar
        var video

        show(_video)
        {
            video = _video
            bar = self.refs["bar"]
            bar.max = 100
            bar.value = Number(video.volume) * 100
            self.counter = bar.value

            self.visible = "display: block;"
            self.update()
        }

        hide(e)
        {
            if (e.target == e.currentTarget)
                self.visible = ""
        }

        move()
        {
            self.counter = bar.value
            video.volume = Number(bar.value) * 0.01
        }
    </script>
</volume>
