var RecordPage = {}
<record show="{ visible }">
    <header class="header-bar">
        <button class="btn pull-left" onclick="MainMenu.show()"><i class="material-icons">&#xE5D2;</i></button>
        <div class="text pull-left" ref="pagename">録画 <span if="{ !clientType }">({ itemCount })</span></div>
        <button title="ジャンルで絞込" class="btn pull-left" onclick="{ filGenre }"><i class="material-icons">&#xE43A;</i>{listGenre}</button>
        
        <button class="btn pull-right" onclick="{ search }"><i class="material-icons">&#xE8B6;</i></button>
        <input type="search" 
               class="pull-right" 
               placeholder={ clientType ? '検索...' : '録画を検索...'} 
               value="{ keyword }" ref="keyword-input" 
               onkeyup="{ watchKey }" 
               onfocus="{ setInputPos }"
               onblur="{ setInputPos }" 
               style="{ clientType ? 'width:50px;' : 'width:50%;'}">
        <button id="rharrow" class="btn pull-right" onclick="{ searchHistory }" onblur="{ setInputPos }"><i class="material-icons">&#xE5C5;</i></button>
    </header>

    <content class="main-content" ref="content" onscroll="{ onscroll }">
        <div style="{ scrollHeight }">
            <div class="ilist" style="{ listTop }">
                <div each="{ record in records }"
                     class="{ nots: record.filetype !='TS' } { error: record[5] != 0 } { offline: (record[6] & 1) == 1 }"
                     onclick="{ showRecordPanel }"
                     no-reorder>
                    <img src='{ record.thumb }' height='50' width='89' style='padding: 0px 0px 0px 0px;' onerror="this.src='NoImage.png'">
                    <div class="ilistline">
                        <div>{ record[1] }</div>
                        <div>{ record.info }</div>
                    </div>
                </div>
            </div>
        </div>
    </content>

    <pagetab></pagetab>
    <record-panel></record-panel>
    <history-menu ref="historyselect"></history-menu>
    <text-menu ref="genreselect"></text-menu>

    <maid></maid>

    <style>
        .ilist
        {
            position: absolute;
            background-color: white;
            width: 100%;
        }

            .ilist .nots { /* keii */
                background-color: lavender;
            }

            .ilist .error
            {
                background-color: yellow;
            }

            .ilist .offline
            {
                background-color: lightgray;
            }

            .ilist > div {
                -webkit-justify-content: stretch;
                justify-content: stretch;
            }

            .ilist img { /* keii */
                border-radius: 5px;
            }

            .ilist .ilistline {
                position: relative;
                left: 10px;
            }

        input[type="search"]
        {
            height: 24px;
            margin: 8px 0;
            width: 50px; /* 150ps */
        }
            input[type="search"]:focus
            {
                border-bottom-width: 0px;
            }
    </style>

    <script>
        "use strict"

        var self = this
        var router = route.create()

        var limit = clientType ? 30 : 45
        var itemHeight = clientType ? 80 : 55
        var contentTop = 0
        var viewMode

        RecordPage = {
            update: function ()
            {
                load("noscroll")
            }
        }

        this.on("mount", function ()
        {
            self.keyword = ""
        })

        router('record?..', function ()
        {
            var keyword = route.query().keyword

            keyword = keyword == null ? "" : decodeURIComponent(keyword)
            self.visible = true
            self.tags["maid"].show(); // "call maid-san"

            //読み込みの必要なし
            if (self.records != null && keyword == self.keyword)
                self.update()
            else
            {
                self.keyword = keyword
                load()
            }
        })

        router('record', function ()
        {
            self.visible = true
            self.tags["maid"].show(); // "call maid-san"

            if (self.records != null)
            {
                self.update()
                history.replaceState(null, null, "#record?keyword=" + encodeURIComponent(self.keyword))
            }
            else
            {
                self.keyword = ""
                load()
            }
        })
        
        router('..', function ()
        {
            self.visible = false
            self.tags["maid"].hide(); // "leave maid-san"
            self.update()
        })

        watchKey(e)
        {
            if (e.which == 13)
                this.search()
        }

        searchHistory()
        {
            if(clientType) {
              var x = 0;
              if(clientType) x = clientScreenWidth - 48 * 4 - self.refs["pagename"].clientWidth -16
              self.refs["keyword-input"].style.width = x + "px"; // keyword-inputを広げます
            }
            var element = document.getElementById('rharrow'); // rharrow というIDがついたやつを取得する
            var rect = element.getBoundingClientRect();
            var pos = rect.left;

            var hist = KeywordHistoy.getList()
            var list = []

            hist.forEach(function (item)
            {
                list.push({ text: item })
            })

            if (list.length == 0)
            {
                Dialog.alert("履歴はありません。")
                return
            }

            list.unshift({ text: "ヒストリーをクリア...", value: "hclr" })

            self.refs.historyselect.show(list, pos, function (item)
            {
                if (item.value == "hclr") {
                    KeywordHistoy.clear()
                    self.update()
                } else {
                    KeywordHistoy.save(item.text) // 使ったヒストリーネタを繰り上げる
                    routing(item.text)
                }
            })
        }

        function routing(keyword)
        {
            router("record?keyword={0}&{1}".format(
                keyword == null ? self.keyword : encodeURIComponent(keyword),
                XDate.now()))
        }

        search()
        {
            var keyword = self.refs["keyword-input"].value
            KeywordHistoy.save(keyword)
            self.records = null
            routing(keyword)
        }

        showRecordPanel(e)
        {
            var id = e.item.record[0]
            self.tags["record-panel"].show(id)
        }

        function load(noscroll)
        {
            viewMode = localStorage.getItem("record/view")

            var opt = new SearchOpt()
            opt.mode = "record" // keii
            var sql = 'select count(id) from record where {0} {1}'.format(
                opt.keywordToSql(self.keyword),
                viewMode == 1 ? " and status & 1 = 0" : "")

            Webapi.getTable(sql, function (ret)
            {
                if (ret.code != 0)
                {
                    Dialog.alert("録画数の取得に失敗しました。理由 : " + ret.message)
                    return
                }

                self.itemCount = ret.data1[0]
                self.scrollHeight = "height:{0}px".format(itemHeight * self.itemCount)

                self.update()
                loadEvent()

                if (noscroll == null)
                    self.refs["content"].scrollTop = 0
            })
            
            getGenreList();
        }

        function updateEvent(force)
        {
            var content = self.refs["content"]

            if (force || Math.abs(contentTop - content.scrollTop) > itemHeight * 10)
            {
                //表示されている時だけscrollTopを取得(0になるため)
                if (self.visible)
                    contentTop = content.scrollTop

                loadEvent()
            }
        }

        //スクロールイベントを間引く
        var onscroll2 = debounce(updateEvent, 300)

        onscroll()
        {
            onscroll2()
        }

        function loadEvent()
        {
            var contentHeight = self.refs["content"].clientHeight
            var offset = Math.floor(contentTop / itemHeight) - 10
            if (offset < 0)
                offset = 0

            var opt = new SearchOpt()
            opt.mode = "record" // keii

            //var where = "" + opt.keywordToSql(self.keyword)
            var sql = "select id, title, service, start, end, code, status, file from record"
                    + " where {0} {1}".format(opt.keywordToSql(self.keyword), viewMode == 1 ? " and status & 1 = 0" : "")
                    + " order by end desc limit {0} offset {1}".format(limit, offset);

            Webapi.getTable(sql, function (ret)
            {
                if (ret.code != 0)
                {
                    Dialog.alert("録画の取得に失敗しました。理由 : " + ret.message)
                    return
                }

                self.records = ret.data1
                self.listTop = "top:{0}px;".format(Math.floor(itemHeight * offset))

                self.records.forEach(function (record)
                {
                    var start = Webapi.convertXDate(record[3]);
                    var end = Webapi.convertXDate(record[4]);

                    record.info = "{0} {1}".format(
                        Util.getTimeString(start, end),
                        record[2])
                    record.thumb = "../thumb/" + record[0] + ".jpg"
                    record.filetype = (record[7].match(/.ts/i) ? "TS": "MP4")

                })

                self.update()
            })
        }
        
        // keii
        function getGenreList(){
            var sql ="select genre from (select genre,"
                +" case"
                +" when genre='ニュース／報道' then 0"
                +" when genre='スポーツ' then 1"
                +" when genre='情報／ワイドショー' then 2"
                +" when genre='ドラマ' then 3"
                +" when genre='音楽' then 4"
                +" when genre='バラエティ' then 5"
                +" when genre='映画' then 6"
                +" when genre='アニメ／特撮' then 7"
                +" when genre='ドキュメンタリー／教養' then 8"
                +" when genre='劇場／公演' then 9"
                +" when genre='趣味／教育' then 10"
                +" when genre='福祉' then 11"
                +" when genre='予備' then 12"
                +" when genre='拡張' then 14"
                +" else 15"
                +" end as odr"
                + " from ("
                    +"select"
                    +" case" 
                    +" when  instr(genre_text, '/') == 0 then genre_text"
                    +" else substr(genre_text, 1, instr(genre_text, '/') - 1)"
                    +" end as genre"
                    +" from record" 
                    +" group by genre"
                +" ) order by odr)"

            Webapi.getTable(sql, function (ret)
            {
                if (ret.code != 0)
                {
                    Dialog.alert("録画のジャンル取得に失敗しました。理由 : " + ret.message)
                    return
                }

                self.listGenre = ret.data1
                self.listGenre.unshift("全ジャンル")

                self.update()
            })
        }

        filGenre(e){
            var gl = self.listGenre
            var list = [];
            gl.forEach(function (item)
            {
                list.push({ text: item })
            })

            self.refs.genreselect.show(list, function (item)
            {
                if(clientType) {
                    var x = 0
                    x = clientScreenWidth - 48 * 4 - self.refs["pagename"].clientWidth - 16 // -16は保険
                    self.refs["keyword-input"].style.width= x + "px"
                }
                var arr = []
                if(item.text=="全ジャンル") {
                    self.refs["keyword-input"].value = self.refs["keyword-input"].value.split(/\s*\/\//, 1)
                } else {
                    arr = [(self.refs["keyword-input"].value.split(/\s*\/\//, 1)), "//" + item.text] // 検索語句にジャンルを追加… 使い勝手を確認すること！
                    self.refs["keyword-input"].value = arr.join(" ")
                }
                //load()
                self.search()

            })

        }

        setInputPos(e){            
            var x = 0
            if(clientType) {
                x = clientScreenWidth - 48 * 4 - self.refs["pagename"].clientWidth - 16 // -16は保険

                if(e.type=="focus") {
                    self.refs["keyword-input"].style.width= x + "px"
                } else {
                    if(typeof(e.value) === "undefined")
                        self.refs["keyword-input"].style.width="50px"
                }
            } else {
                self.refs["keyword-input"].style.width="50%"
            }
        }
    </script>
</record>
