<record-panel class="panel" style="{ visible }">
    <backdrop class="backdrop" onclick="{ hide }">
        <panel class="right-panel">
            <header class="header-bar">
                <button class="btn" show="{ online }" onclick="{ removeFile }"><i class="material-icons">&#xE872;</i></button>
                <button class="btn pull-right" onclick="{ websearch }"><i class="material-icons">&#xE894;</i></button>
            </header>s

            <content class="content" ref="content">
                <div id="info">
                    <div>
                        <h4>{ title }</h4>
                        <div>{ time }</div>
                        <div>{ service }</div>
                        <button show="{ online }" class="btn primary" onclick="{ playRecord }">{ playBtn }</button>
                        <button hide="{ online }" class="btn">再生不可</button>
                        <div  show="{ isKodi }" class="btn pull-right box" onclick="{ onclickKodi }">
                            <label for="inbox1">kodi</label>
                            <input type="checkbox" id="inbox1" ref="inbox1" class="on-off">
                            <div>
                                <ul>
                                    <li onclick="{ playByKodi }">Play</li>
                                    <li onclick="{ addListByKodi }">List</li>
                                    <li onclick="{ openByKodi }">Web</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div>
                        <img src='{ thumb }' width='241' onerror="this.src='NoImage.png'"> <!-- 96x54 / 3x4-->
                    </div>
                    <hr>
                    <div>
                        <div>{ message }</div>
                        <div>{ file }</div>
                        <div>{ errorPacket }</div>
                    </div>
                    <hr>
                    <div>
                        <div>
                            [予約時刻]
                            <br>
                            { s_time }
                            <br>
                            <br>
                        </div>
                        <div>
                            [自動予約]
                            <br>
                            { auto }
                        </div>
                    </div>
                    <hr>
                    <div>
                        <div>
                            <div ref="desc" />
                            <br>
                        </div>
                        <div>
                            <div ref="longdesc" />
                            <br>
                        </div>
                        <div>
                            <div ref="genreText" />
                        </div>
                    </div>
                </div>
            </content>
        </panel>
    </backdrop>

    <style>
        .content
        {
            -webkit-user-select: text;
            -moz-user-select: text;
            -ms-user-select: text;
            user-select: text;
        }

        #info
        {
            padding: 1.5em 0;
        }

            #info > div
            {
                padding-left: 1.5em;
                padding-right: 1.5em;
            }

            #info button
            {
                margin-top: 5px;
                min-width: 100px;
                min-height: 30px;
            }

            #info .small {
                margin-top: 5px;
                min-width: 40px;
                min-height: 30px;
            }

        .box {
            margin-top: 5px;
            min-width: 50px;
            min-height: 30px;
            background: mediumseagreen;
        }

            .box label {
                color: white;
                display: block;
                margin-top: 10px;
                cursor: pointer;
            }

            .box input[type="checkbox"].on-off,
            .box input[type="checkbox"].on-off + div {
                display: none;
            }

                .box input[type="checkbox"].on-off:checked + div {
                    display: block;
                    position: absolute;
                }

            .box div {
                margin: -6px 0 0 -12px;
                width: 74px;
            }

            .box ul {
                background: #f1f1f1;
                padding: 2px;
            }

            .box li {
                padding: 10px 0px 0px 0px;
                margin: 0px 3px 0 3px;
                min-height: 30px;
                list-style: none;
                border-bottom: 1px solid mediumseagreen;
                text-align: center;
            }

    </style>

    <script>
        "use strict"

        var self = this
        var recordId = null
        self.KodiUrl = ""

        hide(e)
        {
            if (e.target == e.currentTarget)
                self.visible = ""
        }

        removeFile()
        {
            Dialog.confirm('録画ファイルを削除してもいいですか？', function ()
            {
                Webapi.exec("RemoveFile", { id: recordId }, function (ret)
                {
                    if (ret.code != 0)
                        Dialog.alert("録画ファイルの削除に失敗しました。再生中は削除できません。または削除権限がありません。")
                    else
                        Dialog.alert("削除しました。")

                    self.show(recordId)
                    RecordPage.update()
                })
            })
        }

        websearch()
        {
            window.open(Util.getWebSearchLink(self.title), '_blank')
        }

        playRecord()
        {
            /* Original
            RecordPlayPage.initVideo()
            location.href = "#record-play/" + recordId
            */

            if (self.file.match(/.ts$/i)) {
                RecordPlayPage.initVideo()
                location.href = "#record-play/" + recordId
            } else {
                RecordDownloadPlayPage.initVideo()
                location.href = "#record-download-play/" + recordId 
            }
        }

        onclickKodi()
        {
            self.refs['inbox1'].checked = !self.refs['inbox1'].checked
        }

        playByKodi()
        {
            Webapi.exec("PlayByKodi", { "id": recordId, "target": "record", "play": "true" }, function (ret) {
                if (ret.code != 0)
                    Dialog.alert("Kodiへキックできませんでした。 理由 : " + ret.message)
            })
        }

        addListByKodi()
        {
            Webapi.exec("PlayByKodi", { "id": recordId, "target": "record", "play": "false" }, function (ret) {
                if (ret.code != 0)
                    Dialog.alert("Kodiへキックできませんでした。 理由 : " + ret.message)
            })
        }

        openByKodi()
        {
            window.open(self.KodiUrl, '_blank')
        }

        show(id)
        {
            recordId = id

            Webapi.exec("UseKodi", {}, function (ret) {
                self.isKodi = ret.code == 0 ? true : false
                if (self.isKodi)
                    Webapi.exec("GetKodiUI", { "id": recordId, "target": "record" }, function (ret) {
                        if (ret.code != 0)
                            Dialog.alert("Kodi UIのURLを取得できませんでした。 理由 : " + ret.message)
                        else {
                            self.KodiUrl = ret.data1
                        }
                    })
            })

            var sql = "select title, service, file, start, end, reserve_start, reserve_end, code, error_count, drop_count, scramble_count, message, desc, longdesc, genre_text, auto, status from record"
                    + " where record.id = " + recordId

            Webapi.getTable(sql, function (ret)
            {
                if (ret.code != 0)
                {
                    Dialog.alert("録画の取得に失敗しました。理由 : " + ret.message)
                    return
                }

                var record = ret.data1[0]

                self.title = record[0]
                self.service = record[1]
                self.file = record[2]
                self.playBtn = self.file.match(/.ts$/i) ? '再生' : '再生(DL)' // keii

                var start = Webapi.convertXDate(record[3])
                var end = Webapi.convertXDate(record[4])
                self.time = start.toString("yyyy/") + Util.getTimeString(start, end)

                var s_start = Webapi.convertXDate(record[5])
                var s_end = Webapi.convertXDate(record[6])
                self.s_time = Util.getTimeString(s_start, s_end)

                var code = Number(record[7])
                self.message = code == 0 ? "正常終了" : record[11]

                var error_count = Number(record[8])
                var drop_count = Number(record[9])
                var scramble_count = Number(record[10])
                self.errorPacket = "D: {0} S: {1} E: {2}".format(drop_count, scramble_count, error_count)

                self.refs.desc.innerHTML = record[12].htmlText()
                self.refs.longdesc.innerHTML = record[13].htmlText()
                self.refs.genreText.innerHTML = record[14].htmlText2()

                self.auto = record[15] == "" ? "---" : record[15]
                self.online = (record[16] & 1) == 0 //rel27

                self.thumb = "/thumb/" + id + ".m.jpg"

                self.visible = "display: block;"
                self.update()

                self.refs["content"].scrollTop = 0
            })
            function fileCheck(){
                var filepath = new air.File("file:///sample.txt");
                if(filepath.exists == true){
                    alert("指定された場所にsample.txtファイルはあります");
                }else{
                    alert("指定された場所にsample.txtファイルはありません!!");
                }
            }
            
        }
    </script>
</record-panel>



