/* for maid.tag.html */
.maidclass{
    display: none;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    opacity: 1;
}

/* for report.tag.html */
.subheader{
    height: 26px;
}

.listbox > div{
    position: relative;
    padding: 0px 0px 0px 10px;

    //height: 80px; /* ilist default */
    //height: 55px; /* keii's modefied ilist */
    //height: 26px; /* just 1 line*/

    height: 44px;
    min-height: 44px;
    border-bottom: 1px solid #eee;
}
.listbox .noicon{
    margin: 0px 0px 0px 12px;
}
.imglocal{
    position: absolute;
    margin: 11px 0 6px 0;
    width: 32px;
    height: 20px;
}
.listdata{
    position: absolute;
    height: 44px;
    min-height: 44px;
    margin: 0px 0px 0px 37px;
    overflow: hidden;
    white-space: nowrap;
}
.listdata .ss{
    position: absolute;
    min-height: 21px;
    max-height: 22px;
    white-space: nowrap;
}
.listdata .info{
    color: gray;
}

/* "accordion" based by http://www.webdlab.com/labs/accordion-3/ */
.accordion {
	min-width: 300px;
	margin: 0 auto;
	//padding: 10px;
	//padding: 10px 0px; /* */
}
.accordion .ac-content {
	//margin: 0 10px; /* 全体：左右のマージン*/
}
.accordion label {
	display: block;
	background: #7058a3;
	cursor: pointer;
	padding: 10px;
	border-bottom: 1px solid #fff;
}
.accordion label:hover {
	background: #9fb7d4;//#ccc;
}
.accordion input {
	display: none;
}
.accordion .ac-cont {
	transition: 0.2s;
	height: 0;
	overflow: hidden;
	background: #999;
	//padding: 0 10px; /* 内容の分（左右）*/
}
.accordion input:checked + .ac-cont {
	height: auto;
	//padding: 10px; /* 内容の分（開いている分）*/
}


/* subheader for phone */
.header-bar-fixed{
    position: fixed;
}
/* report.tag Reserve */
.fixed-r{
    position: fixed;
    width: 100%;
    top: 40px;
    left: 0;
    z-index: 25;
}
.listbox-r{
    margin: 46px 0 0 0;
}
/* report.tag Record Results */
.fixed-rr{
    position: fixed;
    width: 100%;
    top: 87px;
    z-index: 25;    
}
.listbox-rr{
    margin: 94px 0 0 0;
}
/* report.tag What's New */
.fixed-wn{
    position: fixed;
    width: 100%;
    top: 134px;
    z-index: 25;
}
.listbox-wn-fil{
    position: fixed;
    width: 100%;
    top:181px;
    background: #999;
    z-index: 25;
}
.listbox-wn{
    margin:166px 0 0 0;
}
/* report.tag log */
.fixed-l{
    position: fixed;
    width: 100%;
    top: 181px;
    z-index: 25;
}
.listbox-l{
    margin: 188px 0 0 0;
}

