var ReportPage = {}

<report show="{ visible }">
    <header class="header-bar" ref="header-bar">
        <button onclick="history.back()" class="btn pull-left"><i class="material-icons">&#xE5C4;</i></button>
        <!--<button class="btn pull-left" onclick="MainMenu.show()"><i class="material-icons">&#xE5D2;</i></button>-->
        <div class="text pull-left">レポート</div>
    </header>
    
    <content class="main-content" ref="content">
    	<div class="accordion">
			<div class="ac-content" id="ac-base">

                <label id="reserved" for="ac-cap1" onclick="{ subbarClick }">
                    <div id="subheader-r" class="subheader">
                        <i class="material-icons md-22 sw">&#xE8B5;</i> 予約（{ reserveItemCount }）
                        <button title="抽出" class="subheader sw" onclick="{ changeViewRefine }"><i class="material-icons {clientType ? 'md-20':'md-18'}">{viewRefine ? "&#xE241;" : "filter_list" }</i></button>
                        <button title="Edit mode" class="subheader sw" onclick="{ changeEditMode }"><i class="material-icons {clientType ? 'md-20':'md-18'}">{ editMode ? "&#xE22B;" : "edit" }</i></button>
                    </div>
                </label>

				<input id="ac-cap1" type="checkbox" name="ac1">
				<div class="ac-cont">
                    <div id="reserved-d" class="listbox">
                        <div each="{ reserve in reserves }" onclick="{ reserveAction }" class="{ reserve.status }" no-reorder>
                            <div>
                                <img class="imglocal" src='/logo/{ reserve.fsid }.bmp' onerror="this.src ='nologo.jpg'">
                                <span class="listdata" if="{ !clientType }">{ reserve.info } { reserve[8]}</span><!--PC-->
                                <span class="listdata" if="{ clientType }">{ reserve[8]} <br><span class="info">{ reserve.info }</span></span><!--phone-->
                            </div>
                        </div>
                    </div>
                </div>

				<label id="recorded" for="ac-cap2" onclick="{ subbarClick }">
                    <div id="subheader-rr" class="subheader">
                        <i class="material-icons md-22 sw">&#xE02C;</i> 録画結果（{ resultItemCount } / { resultTerm } ~）
                    </div>
                </label>

				<input id="ac-cap2" type="checkbox" name="ac1">
				<div class="ac-cont">
                    <div id="recorded-d" class="listbox">
                        <div each="{ result in results }"
                          class="{ error: result[5] != '0' } { offline: result[6] == 1 }"
                          onclick="{ showRecordPanel }" no-reorder>
                            <span class="listdata noicon" if="{ !clientType }">{ result.info } { result[1]}</span><!--PC-->
                            <span class="listdata noicon" if="{ clientType }">{ result[1]} <br><span class="info">{ result.info }</span></span><!--phone-->
                        </div>
                    </div>
                </div>

				<label id="whatsnew" for="ac-cap3" onclick="{ subbarClick }">
                    <div id="subheader-wn" class="subheader">
                        <i class="material-icons md-22 sw">&#xE031;<!-- or fiber_new --></i> 新番組（{ eventItemCount }）
                    </div>
                </label>

				<input id="ac-cap3" type="checkbox" name="ac1">
				<div class="ac-cont">
                    <div id="whatsnew-f" class="subheader">
                        <span class="news"></span><i title="ALL" class="material-icons md-18 sw" onclick="{ updateNewEvent }">&#xE863;</i> :
                        <span class="news"></span><i title="ニュース／報道" class="material-icons md-18 sw" style="{ 'color:' + genreNews + ';'}" onclick="{ updateNewEvent }">&#xE0D0;</i> :
                        <span class="sports"></span><i title="スポーツ" class="material-icons md-18 sw" style="{ 'color:' + genreSports + ';'}" onclick="{ updateNewEvent }">&#xE566;</i> :
                        <span class="information"></span><i title="情報／ワイドショー" class="material-icons md-18 sw" style="{ 'color:' + genreInfo + ';'}" onclick="{ updateNewEvent }">&#xE54B;</i> :
                        <span class="dorama"></span><i title="ドラマ" class="material-icons md-18 sw" style="{ 'color:' + genreDorama + ';'}" onclick="{ updateNewEvent }">&#xE56E;</i> :
                        <span class="music"></span><i title="音楽" class="material-icons md-18 sw" style="{ 'color:' + genreMusic + ';'}" onclick="{ updateNewEvent }">&#xE405;</i> :
                        <span class="variety"></span><i title="バラエティー" class="material-icons md-18 sw" style="{ 'color:' + genreVariety + ';'}" onclick="{ updateNewEvent }">&#xEB41;</i> :
                        <span class="movie"></span><i title="映画" class="material-icons md-18 sw" style="{ 'color:' + genreMovie + ';'}" onclick="{ updateNewEvent }">&#xE04B;</i> :
                        <span class="anime"></span><i title="アニメ／特撮" class="material-icons md-18 sw" style="{ 'color:' + genreAnime + ';'}" onclick="{ updateNewEvent }">&#xE859;</i> :
                        <span class="documentary"></span><i title="ドキュメンタリー／教養" class="material-icons md-18 sw" style="{ 'color:' + genreDoc + ';'}" onclick="{ updateNewEvent }">&#xE80C;</i> :
                        <span class="performance"></span><i title="劇場" class="material-icons md-18 sw" style="{ 'color:' + genrePerf + ';'}" onclick="{ updateNewEvent }">&#xE16B;</i> :
                        <span class="education"></span><i title="趣味／教養" class="material-icons md-18 sw" style="{ 'color:' + genreEdu + ';'}" onclick="{ updateNewEvent }">&#xE91D;</i> :
                        <span class="welfare"></span><i title="福祉" class="material-icons md-18 sw" style="{ 'color:' + genreWelfare + ';'}" onclick="{ updateNewEvent }">&#xE89A;</i>
                    </div>
                    <div id="whatsnew-d" class="listbox">
                        <div each="{ event in events }" onclick="{ showEventPanel }" class="{ event.genre }" no-reorder>
                            <div>
                                <img class="imglocal" src='/logo/{ event.fsid }.bmp' onerror="this.src ='nologo.jpg'">
                                <span class="listdata" if="{ !clientType }">{ event.info } { event[1]}</span><!--PC-->
                                <span class="listdata" if="{ clientType }">
                                    { event[1]} <br>
                                    <span class="info">{ event.info }</span>
                                </span><!--phone-->
                            </div>
                        </div>
                    </div>
                </div>

				<label id="loged" for="ac-cap4" onclick="{ subbarClick }">
                    <div id="subheader-l" class="subheader sw">
                        <i class="material-icons md-22 sw">&#xE85D;</i> ログ （{ logItemCount }/24h）
                    </div>
                </label>

				<input id="ac-cap4" type="checkbox" name="ac1">
                <div class="ac-cont">
                    <div id="loged-d" class="listbox">
                        <div each="{ log in logs }" no-reorder>
                            <i class="material-icons md-22 imglocal">{ log.icon }</i>
                            <span class="listdata" if="{ !clientType }">{ log.info } { log.text }</span><!--PC-->
                            <div if="{ clientType }">
                                <div class="listdata ss">{ log.text }</div><br>
                                <div class="listdata ss info">{ log.info }</div>
                            </div><!--phone-->
                       </div>
                    </div>
                </div>
            </div><!--ac-content-->
		</div><!--accordion-->

    </content>

    <pagetab></pagetab>

    <event-panel></event-panel>
    <reserve-edit></reserve-edit>
    <record-panel></record-panel>
    <maid></maid>

    <style>
        .subheader
        {
            color: white;
            padding-left: 5px;
            vertical-align: middle;
            overflow: hidden;
        }
            .subheader .sw
            {
                background-color: transparent;
                cursor: pointer;
                outline: none;
                min-height:20px;
                vertical-align: bottom;
                border: none;
            }

        .listbox
        {
            position: relative;
            overflow: hidden;
            width: 100%;
            background-color: white;
            cursor: pointer;
        }
            .listbox .disable
            {
                background-color: lightgray;
            }

            .listbox .overlay
            {
                background-color: yellow;
            }

            .listbox .recording
            {
                background-color: coral;
            }

            .listbox .error
            {
                background-color: yellow;
            }

            .listbox .offline
            {
                background-color: lightgray;
            }

        .reserve-label
        {
            display: none;
            position: absolute;
            top: 5px;
            right: 5px;
        }
            .reserve-label.enable
            {
                display: block;
                color: tomato;
            }

            .reserve-label.overlay
            {
                display: block;
                color: yellow;
            }

            .reserve-label.disable
            {
                display: block;
                color: gray;
            }

        /* icon size */
        .material-icons.md-14 { font-size: 14px; }
        .material-icons.md-18 { font-size: 18px; }
        .material-icons.md-20 { font-size: 20px; }
        .material-icons.md-22 { font-size: 22px; }
        .material-icons.md-24 { font-size: 24px; } /* Preferred icon size */
        .material-icons.md-36 { font-size: 36px; }
        .material-icons.md-48 { font-size: 48px; }
        /* icon color for light Background */
        .material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
        .material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
        /* icon color for dark Background */
        .material-icons.md-light { color: rgba(255, 255, 255, 1); }
        .material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

    </style>

    <script>
        "use strict"

        var self = this;
        var router = route.create()
        //self.clientType = (!window.matchMedia('(min-width:481px)').matches); // PC or SmartPhone ->index.html

        self.editMode = false;
        self.viewRefine = false;
        
        var termReserve = 8;
        var termRecord = 8;
        var termNewEvent = 8;
/*
        // for maid
        var spMode = false;
        var spModeCnt = false;
        var maidpath = "../maya/maiddata/"; // JSONデータのパス(おしりに"/"付けて。 iconは，その下/image)
        self.maidname = ""; // 空のままで！
        var maidwords = []; // つぶやきの格納場所
        var maidmenu = [];  // メニューの格納場所
        // 以下，maiddefN.jsonで設定する
        var defmsg = "お呼びですか ご主人様 ♥";
        var defpic = "shironeko.jpg";
        var speakInterval = 5; // つぶやきインターバル(秒)
*/

        ReportPage = {
            update: function (){
                load();
            }
            /*,
            menuCancel: function (){
                speak(maidwords[maidwords.length - 1]);
                //startSpeakTimer();
            }*/
        }

        this.on("mount", function ()
        {
            //self.tags["maid"].show(); // "call maid-san"
/*            //content = self.refs["content"]
            var now = new XDate(XDate.now()).getDay();
            var filename = "maiddef0.json";
            filename = filename.replace(/\d/,now);
            loadMaidJSON(filename);
*/
        })

        router('report', function (){
            self.visible = true
            self.tags["maid"].show(); // "call maid-san"
            load();

        })
        
        router('..', function(){
            self.visible = false
            self.tags["maid"].hide(); // "leave maid-san"
            self.update();
        })

        showEventPanel(e){
            var id = e.item.event[0]
            self.tags["event-panel"].show(id)
        }

        changeViewRefine(e){
            e.preventDefault();
            e.stopPropagation();
            //e.stopImmediatePropagation();
            self.viewRefine = !self.viewRefine;
			//load();
            loadReserve();
        }

        changeEditMode(e){
            e.preventDefault();
            e.stopPropagation();
            self.editMode = !self.editMode;
        }

        function load(){

            //self.maidpic = maidpath + "image/" + defpic;
            //speak(defmsg);

            loadReserve();
            loadResults();
            loadNewEvent();
            setGenreColor();
            loadLog();
            //loadLogError();

            if(clientType) {
                $('header').addClass('header-bar-fixed');
            } else {
                // PCで開いたとき，開きたいSubbarをコメントインする
                //$('#ac-cap1')[0].checked = true;
                //$('#ac-cap2')[0].checked = true;
                //$('#ac-cap3')[0].checked = true;
                //$('#ac-cap4')[0].checked = true;
            }
        }

        function loadReserve(){ // 予約ネタ取得
            var now = new XDate(XDate.now());
            self.reserveTerm = now.toString("M月d日") + " (" + Util.getWeekText(now.getDay()) +")～";
            var term = Webapi.convertDateTime(now.clone().addDays(termReserve));
            now = Webapi.convertDateTime(now);

            var sql = "select r.id, r.fsid, r.eid, r.start, r.end, r.duration, r.auto, r.status, r.title, r.tuner, ar.name"
                    + " from reserve r left join auto_reserve ar on r.auto = ar.id"
                    + " where r.status >= {0} and r.end >= {1} and r.end <= {2}".format( (self.viewRefine ? "2": "3"), now, term)
                    + " group by r.fsid, r.eid order by r.start";

            Webapi.getTable(sql, function (ret){
                if (ret.code != 0){
                    Dialog.alert("予約の取得に失敗しました。理由 : " + ret.message);
                    return;
                }
                
                self.reserves = ret.data1;
                self.reserveItemCount = self.reserves.length; // Item Counts
                
                self.reserves.forEach(function (reserve){
                    var start = Webapi.convertXDate(reserve[3]);
                    var end = Webapi.convertXDate(reserve[4]);
                    reserve.info = "{0}".format(Util.getTimeString(start, end));
                    reserve.fsid = reserve[1]; // for logo.jpg

                    var status = reserve[7];
                    if (ReserveState.isEnable(status))
                        reserve.status = ReserveState.isOverlay(status) ? "overlay" : reserve.status = ReserveState.isRecording(status) ? "recording" : "";
                    else
                        reserve.status = "disable";
                })
                self.update();
            })
        }
        function loadResults(){ // 録画結果ネタ取得
            var now = new XDate(XDate.now());
            var term = now.clone().addDays(- termRecord);
            self.resultTerm = term.toString("M月d日") + " (" + Util.getWeekText(term.getDay()) +")";
            term = Webapi.convertDateTime(term);

            var sql = "select r.id, r.title, r.start, r.end, r.service, r.code as [result], r.status, r.error_count, r.drop_count, r.scramble_count, r.message"
                    + " from record r"
                    + " where r.start > {0} or end > {0}".format(term)
                    + " order by r.start desc";

            Webapi.getTable(sql, function (ret){
                if (ret.code != 0){
                    Dialog.alert("録画結果の取得に失敗しました。理由 : " + ret.message);
                    return;
                }
                
                self.results = ret.data1;
                self.resultItemCount = self.results.length; // Item Counts
                
                self.results.forEach(function (result){
                    var start = Webapi.convertXDate(result[2]);
                    var end = Webapi.convertXDate(result[3]);
                    result.info = "{0}".format(Util.getTimeString(start, end));
                    //result.genre = Genre.getFirstClass(result[4]);
                })
                self.update();
            })
        }
        function loadNewEvent(genre){ // 新番組ネタ取得
            genre = genre === undefined ? "" : genre;
            var now = new XDate(XDate.now());
            var term = now.clone().addDays(termNewEvent);

            var where = "regexp(e.title, '" + Webapi.sqlEncode("\\[新\\]|［新］|<新>|\\(新\\)|【新】|第0*[1一][話回]| 新$|#0*1(?!\\d)") + "', 1)";
            var sql = "select e.id, e.title, e.start, e.end, e.genre, e.fsid, s.name"
                    + " from event e left join service s on e.fsid = s.fsid"
                    + " where e.start < {0} and e.end > {1} and {2} group by e.fsid, e.eid order by e.start".format(
                        Webapi.convertDateTime(term), 
                        Webapi.convertDateTime(now), 
                        where);

            if(genre.length != 0){
                sql = sql.replace(" group by e.fsid, e.eid", " and e.genre_text like ('" + (genre + "%") + "') escape '^' group by e.fsid, e.eid");
                //sql = sql.replace("order by start", "escape '^' order by start");
            }

            Webapi.getTable(sql, function (ret){
                if (ret.code != 0){
                    Dialog.alert("新番組の取得に失敗しました。理由 : " + ret.message);
                    return;
                }
                
                self.events = ret.data1; //events=新番組
                self.eventItemCount = self.events.length; // Item Counts

                self.events.forEach(function (event){
                    var start = Webapi.convertXDate(event[2]);
                    var end = Webapi.convertXDate(event[3]);
                    event.info = "{0}".format(Util.getTimeString(start, end));

                    event.genre = Genre.getFirstClass(event[4]);
                    event.fsid = event[5]; // for logo.jpg
                    event.titles = "";
                    
                })
                self.update();
            })
        }
        updateNewEvent(e){
            loadNewEvent(e.toElement.title == "ALL" ? "" : e.toElement.title);
        }
        function loadLog(){ // Logネタ取得
            var now = new XDate(XDate.now());
            var term = now.clone().addDays(-7);
            self.logTerm = term.toString("M月d日") + " (" + Util.getWeekText(term.getDay()) +") ~ 今";
            term = Webapi.convertDateTime(term);

            var sql = "select type, time, text from log where type in(2,3) and time > {0} order by time desc".format(term);
            getLog(sql, function (ret){
                self.logs = ret.data1
                self.logItemCount = self.logs.length; // Item Counts

                var icons = {
                    0: "\ue868",  //bug_report
                    1: "\ue88f",  //info_outline
                    2: "\ue002",  //warning
                    3: "\ue5c9",  //cancel
                    4: "\ue871"   //dashboard
                }

                self.logs.forEach(function (log){
                    log.icon = icons[log[0]];
                    
                    var time = Webapi.convertXDate(log[1]);
                    log.info = "{0} {1}".format(time.toString("MM/dd"), time.toString("HH:mm:ss"));
                    var msg = log[2];
                    log.text = msg.replace(/.\s$/,"").replace(/しました/g,"").replace(/利用できません/g,"利用不可");
                })

                self.update()
            })
        }

        function loadLogError(){ // LogのError数取得
            var now = new XDate(XDate.now());
            var term = Webapi.convertDateTime(now.clone().addDays(-1));

            var sql = "select count(type) from log where type = 3 and time > {0} order by time desc".format(term);
            getLog(sql, function (ret){
                self.logErrors = ret.data1
                self.logErrItemCount = self.logErrors[0]; // Item Counts

                self.update()
            })
        }

        function setGenreColor(){
            self.genreNews = $('.news').css('background-color');
            self.genreSports = $('.sports').css('background-color');
            self.genreInfo = $('.infomation').css('background-color');
            self.genreDorama = $('.dorama').css('background-color');
            self.genreMusic = $('.music').css('background-color');
            self.genreVariety = $('.variety').css('background-color');
            self.genreMovie = $('.movie').css('background-color');
            self.genreAnime = $('.anime').css('background-color');
            self.genreDoc = $('.documentary').css('background-color');
            self.genrePerf = $('.performance').css('background-color');
            self.genreEdu = $('.education').css('background-color');
            self.genreWelfare = $('.welfare').css('background-color');
            self.genreEtc = $('.genre-etc').css('background-color');
            self.genreNone = $('.genre-none').css('background-color');
        }
        
        subbarClick(e){
            // for phone
            //if(!clientType) return;

            e.stopPropagation();
            
            function subbarClickSub(flg){
                $('header').addClass('header-bar-fixed');
                if(flg == 1){
                    $('#reserved').addClass('fixed-r');     $('#reserved-d').addClass('listbox-r');
                    $('#recorded').removeClass('fixed-rr'); $('#recorded-d').removeClass('listbox-rr');
                    $('#whatsnew').removeClass('fixed-wn'); $('#whatsnew-d').removeClass('listbox-wn'); $('#whatsnew-f').removeClass('listbox-wn-fil');
                    $('#loged').removeClass('fixed-l');  $('#loged-d').removeClass('listbox-l');
                } else if(flg == 2){
                    $('#reserved').addClass('fixed-r');     $('#reserved-d').addClass('listbox-r');
                    $('#recorded').addClass('fixed-rr');    $('#recorded-d').addClass('listbox-rr');
                    $('#whatsnew').removeClass('fixed-wn'); $('#whatsnew-d').removeClass('listbox-wn'); $('#whatsnew-f').removeClass('listbox-wn-fil');
                    $('#loged').removeClass('fixed-l');  $('#loged-d').removeClass('listbox-l');
                } else if(flg == 3){
                    $('#reserved').addClass('fixed-r');     $('#reserved-d').addClass('listbox-r');
                    $('#recorded').addClass('fixed-rr');    $('#recorded-d').addClass('listbox-rr');
                    $('#whatsnew').addClass('fixed-wn');    $('#whatsnew-d').addClass('listbox-wn'); $('#whatsnew-f').addClass('listbox-wn-fil');
                    $('#loged').removeClass('fixed-l');  $('#loged-d').removeClass('listbox-l');
                } else if(flg == 4){
                    $('#reserved').addClass('fixed-r');     $('#reserved-d').addClass('listbox-r');
                    $('#recorded').addClass('fixed-rr');    $('#recorded-d').addClass('listbox-rr');
                    $('#whatsnew').addClass('fixed-wn');    $('#whatsnew-d').addClass('listbox-wn'); $('#whatsnew-f').addClass('listbox-wn-fil');
                    $('#loged').addClass('fixed-l');  $('#loged-d').addClass('listbox-l');
                } else {
                    $('#reserved').removeClass('fixed-r');  $('#reserved-d').removeClass('listbox-r');
                    $('#recorded').removeClass('fixed-rr'); $('#recorded-d').removeClass('listbox-rr');
                    $('#whatsnew').removeClass('fixed-wn'); $('#whatsnew-d').removeClass('listbox-wn'); $('#whatsnew-f').removeClass('listbox-wn-fil');
                    $('#loged').removeClass('fixed-l');  $('#loged-d').removeClass('listbox-l');
                }
            }

            var x = e.currentTarget.id;
            
            if(x == "reserved"){
                //$('#ac-cap1')[0].checked = false;
                $('#ac-cap2')[0].checked = false;
                $('#ac-cap3')[0].checked = false;
                $('#ac-cap4')[0].checked = false;

                if($('#ac-cap1')[0].checked){
                    // true->false
                    subbarClickSub(0);
                } else {
                    // false->true
                    subbarClickSub(1);
                }
                return;
            }
            if(x == "recorded"){
                $('#ac-cap1')[0].checked = false;
                //$('#ac-cap2')[0].checked = false;
                $('#ac-cap3')[0].checked = false;
                $('#ac-cap4')[0].checked = false;

                if($('#ac-cap2')[0].checked){
                    subbarClickSub(0);
                } else {
                    subbarClickSub(2);
                }
                return;
            }
            if(x == "whatsnew"){
                $('#ac-cap1')[0].checked = false;
                $('#ac-cap2')[0].checked = false;
                //$('#ac-cap3')[0].checked = false;
                $('#ac-cap4')[0].checked = false;

                if($('#ac-cap3')[0].checked){
                    subbarClickSub(0);
                }else{
                    subbarClickSub(3);
                }
                return;
            }
            if(x == "loged"){
                $('#ac-cap1')[0].checked = false;
                $('#ac-cap2')[0].checked = false;
                $('#ac-cap3')[0].checked = false;
                //$('#ac-cap4')[0].checked = false;

                if($('#ac-cap3')[0].checked){
                    subbarClickSub(0);
                }else{
                    subbarClickSub(4);
                }
                return;
            }
        }
/*
        // Maid Speak 
        function maidSpeakSelf(){
            var x = Math.floor(Math.random() * (maidwords.length - 1));
            if(spModeCnt == false) {
                x = 0;
                spModeCnt = true;
            }
            
            // 1行目の置き換え
            var msg = "";
            if(maidwords.length == 0){
                msg = defmsg;
                self.maidpic = maidpath + "image/" + defpic;
            } else {
                msg = maidwords[x][0];
                msg = msg.replace(msg.match(/{self.logErrItemCount}/), self.logErrItemCount);
                self.maidpic = maidpath + "image/" + (maidwords[x][1] == "" ? defpic: maidwords[x][1]);
            }

            speak(msg);

        }
        maidClick(e){
            e.stopPropagation();

            if(spMode){
                stopSpeakTimer();
                var msg = "";
                if(maidmenu.length == 0) {
                    msg = "<div class='maidmenu'><b>ひぃっ!</b> ごごっご<br>ご用ですか？ご主人様<br>"
                        + "<a href='#epg'>　番組表を見せて</a><br>"
                        + "<a href='#search'>　番組を検索</a><br>"
                        + "<a href='#reserve'>　予約を見せて</a><br>"
                        + "<a href='#auto-reserve'>　自動予約を開いて</a><br>"
                        + "<a href='javascript:maidMenuCancelR()'>ん？何でもないょ</a></div>";
                }else{
                    for(var i = 0; i < maidmenu.length - 1; i++){
                        msg += maidmenu[i];
                    }
                    msg = "<div class='maidmenu'>"
                        + msg
                        + "<br><a href='javascript:maidMenuCancelR()'>" + maidmenu[maidmenu.length -1] + "</a></div>"
                }
                speak(msg);
            } else {
                speak("ん？"); // 即時表示用
                startSpeakTimer();
            }
        }
        function speak(msg){
            self.refs.maidspeach.innerHTML = msg;
            //self.maidspeach = msg;
            self.update();
        }
        function startSpeakTimer(){
            spMode = true;
            //self.mi = setInterval(maidSpeakSelf, (speakInterval * 1000)); // maid 話す間隔
        }
        function stopSpeakTimer(){
            spMode = false;
            clearInterval(self.mi);
        }
        function loadMaidJSON(filename){
            filename = filename || "maiddef0.json";
            maidwords = [];

            $.ajax({
                type: "GET", 
                url: maidpath + filename,
                async: false,
                error: function(){filename="maiddef0.json";}
            });
            $.ajax({
                type: "GET", 
                url: maidpath + filename,
                async: false,
                success: function(json){
                    var data = JSON.parse(json);

                    // setting
                    self.maidname = data.setting.name;
                    speakInterval = data.setting.interval == "" ? speakInterval : data.setting.interval;
                    defmsg = data.setting.defmsg == "" ? defmsg : data.setting.defmsg;
                    defpic = data.setting.defpic == "" ? defpic : data.setting.defpic;

                    // speak
                    data.speak.forEach(function(x){
                        maidwords.push(x);
                    });

                    // menu
                    if(data.menu !== undefined){
                        if(data.menu.length > 0){
                            maidmenu = [];
                        }
                        data.menu.forEach(function(x){
                            maidmenu.push(x);
                        });
                    } else {
                        maidmenu = [];
                    }
                }
            });
        };
*/
        //転用
        reserveAction(e){
            if (self.editMode){
                var id = e.item.reserve[0];
                self.tags["reserve-edit"].show(id);
            } else {
                showEventPanel(e);
            }
        }
        function showEventPanel(e){
            var id = e.item.reserve[0]
            var sql = "select id from event"
                    + " where fsid = (select fsid from reserve where id = {0})".format(id)
                    + " and eid = (select eid from reserve where id = {0})".format(id)

            Webapi.getTable(sql, function (ret)
            {
                if (ret.code != 0)
                {
                    Dialog.alert("予約の取得に失敗しました。理由 : " + ret.message)
                    return;
                }

                if (ret.data1.length == 0)
                {
                    Dialog.alert("番組情報がありません。")
                    return
                }

                var event = ret.data1[0][0]
                self.tags["event-panel"].show(event)
            })
        }
	    function getTimeString2(start, end){
            return "{0} ({1}) {2} ～ {3} ({4} 分)".format(
                    start.toString("M/d"),
                    Webapi.getWeekText(start.getDay()),
                    start.toString("HH:mm"),
                    end.toString("HH:mm"),
                    Math.floor((end - start) / 1000 / 60))
        }
        showRecordPanel(e){
            var id = e.item.result[0]
            self.tags["record-panel"].show(id)
        }
        function getLog(sql, callback){
            Webapi.exec("GetLog", { sql: sql }, function (ret){
                if (ret.code == 0)
                    callback(ret)
                else
                    Dialog.alert("ログの取得に失敗しました。理由 : " + ret.message)
            })
        }

    </script>
</report>
