﻿var SettingPanel = {}

<setting class="panel" style="{ visible }">
    <backdrop class="backdrop" onclick="{ hide }">
        <panel class="left-panel">
            <header class="header-bar">
                <div class="pull-left text">設定</div>
            </header>
            <content class="content">
                <div class="input-list">
                    <div>ストリーミング</div>
                    <div>
                        <div class="select-item" onclick="{ setStreamType }">
                            <span>方式</span>
                            <span class="pull-right">{ streamType }</span>
                        </div>
                    </div>
                    <div>
                        <div class="select-item" onclick="{ setVideoMode }">
                            <span>画質</span>
                            <span class="pull-right">{ videoMode }</span>
                        </div>
                    </div>
                    <div>
                        <div class="select-item" onclick="{ setHlsReady }">
                            <span>HLS開始待ち時間</span>
                            <span class="pull-right">{ hlsReady }</span>
                        </div>
                    </div>
                    <div>番組表</div>
                    <div>
                        <div class="chk" onclick="{ changeDescView }">
                            <span>「番組内容」を表示しない</span>
                            <span class="pull-right">
                                <i class="material-icons">{ DescView == 1 ? "&#xE834;" : "&#xE835;" }</i>
                            </span>
                        </div>
                    </div>
                    <div>録画一覧</div>
                    <div>
                        <div class="chk" onclick="{ changeRecordView }">
                            <span>削除済み録画は表示しない</span>
                            <span class="pull-right">
                                <i class="material-icons">{ recordView == 1 ? "&#xE834;" : "&#xE835;" }</i>
                            </span>
                        </div>
                    </div>
                    <div>
                        <button class="btn" onclick="{ updateRecordStatus }">ファイルチェック実行</button>
                        <i id="tip_filecheck" class="material-icons" onclick="{ displayTips }">&#xE8FD;</i>
                    </div>
                    <div>ユーザ番組表編集</div>
                    <div>
                        <button class="btn-half" onclick="{ editUserEpg }" data-id="1">ユーザ1</button>
                        <button class="btn-half" onclick="{ editUserEpg }" data-id="2">ユーザ2</button>
                        <button class="btn-half" onclick="{ editUserEpg }" data-id="3">ユーザ3</button>
                    </div>
                    <div>番組表の1時間の高さ</div>
                    <div>
                        <input type="number" pattern="\d*" onblur="{ editEpgHourHeight }" ref="epg-hour-hight" class="padded-list" value="{ epgHourHeight }">
                    </div>
                    <div>番組表更新</div>
                    <div>
                        <button class="btn" onclick="{ updateEpg }">開始</button>
                        <button class="btn" onclick="{ cancelUpdateEpg }" style="color:red;">中止</button>
                    </div>
                    <div>メンテナンス</div>
                    <div>
                        <button class="btn" onclick="{ checkAutoReserve }">自動予約チェック</button>
                        <i id="tip_checkAutoReserve" class="material-icons" onclick="{ displayTips }">&#xE8FD;</i>
                    </div>
                    <!-- log.tag.htmlへ移動しました
                    <div>
                        <button class="btn" onclick="{ clearLog }">ログをクリア</button>
                    </div>
                    -->
                    <div>
                        <button class="btn" onclick="{ clearRecord }" style="color:red;">録画一覧クリア</button>
                        <i id="tip_record_clear" class="material-icons" onclick="{ displayTips }">&#xE8FD;</i>
                    </div>
                    <div>
                        <button class="btn" onclick="{ addTsFileInfo }">録画ファイル登録</button>
                        <i id="tip_record_reentry" class="material-icons" onclick="{ displayTips }">&#xE8FD;</i>
                    </div>
                    <div>
                        <button class="btn" onclick="{ setSleep }">スリープ</button>
                    </div>
                    <hr />
                    <div>
                        <button class="btn" onclick="{ updateGCalendar }">gCal更新</button>
                        <button class="btn" onclick="{ delAllGCalendar }" style="color:red;">gCal全消し</button>
                    </div>
                    <hr />
                    <div>
                        <div onclick="{ changeEnLib }">
                            <span>ライブラリ機能を使う</span>
                            <span class="pull-right">
                                <i class="material-icons">{ enLib == 1 ? "&#xE834;" : "&#xE835;" }</i>
                            </span>
                        </div>
                    </div>
                    <div if="{ enLib != 0 }">
                        <button class="btn" onclick="{ addLibInfo }">登録開始</button>
                        <button class="btn" onclick="{ cancelAddLibInfo }" style="color:red;">登録停止</button>
                        <i id="tip_library" class="material-icons" onclick="{ displayTips }">&#xE8FD;</i>
                    </div>
                </div>
            </content>
        </panel>
    </backdrop>

    <text-menu ref="selecter"></text-menu>
    <text-menu ref="hlsreadyselect"></text-menu>

    <style>
        .btn-half {
            position: relative;
            padding: 0 12px;
            display: inline-block;
            min-height: 40px;
            line-height: 1;
            color: black;
            text-align: center;
            vertical-align: top;
            cursor: pointer;
            outline: none;
            border: none;
            background-color: #f1f1f1;
            width: 85px;
        }
    </style>

    <script>
        "use strict"

        var self = this
        var callback

        var services = null

        this.on("mount", function (id)
        {
            initServiceList()
        })

        SettingPanel.show = function (_callback)
        {
            callback = _callback

            self.epgHourHeight = localStorage.getItem("epg-hour-hight")
            self.videoMode = localStorage.getItem("video-mode")
            self.recordView = localStorage.getItem("record/view")
            self.streamType = localStorage.getItem("stream-type")
            self.hlsReady = localStorage.getItem("hls-ready")
            self.DescView = localStorage.getItem("desc/view")
            self.enLib = localStorage.getItem("EnableLibrary") || 0

            self.visible = "display: block;"
            self.update()
        }

        hide(e)
        {
            if (e.target == e.currentTarget)
            {
                self.visible = ""

                if (callback != null)
                {
                    callback()
                    callback = null
                }
            }
        }

        checkAutoReserve()
        {
            var exec = function (autos, index, errors) {
                if (autos.length == index) {
                    Dialog.editor("修正の必要がある自動予約 {0}件".format(errors.length), function () { }, errors.join("\n"))
                    return
                }
                var opt = SearchOpt.fromJson(autos[index][1])

                if (opt.fsid == null || opt.fsid.length == 0) {
                    index++
                    setTimeout(exec, 0, autos, index, errors)
                }
                else {
                    var sql = "select count(*) from (select id from service where fsid in ({0}) group by fsid)".format(opt.fsid.join(","))

                    Webapi.getTable(sql, function (ret) {
                        if (ret.code != 0) {
                            Dialog.alert("サービスの取得に失敗しました。理由 : " + ret.message)
                            return
                        }
                        if (ret.data1[0][0] != opt.fsid.length)
                            errors.push(autos[index][0])

                        index++
                        setTimeout(exec, 0, autos, index, errors)
                    })
                }
            }

            Dialog.confirm('自動予約のサービス指定に、削除されたサービスが含まれていないかチェックします。実行しますか？(有効な自動予約のみチェックします)', function () {
                var sql = "select folder || '/' || name, option from auto_reserve where status & 1"

                Webapi.getTable(sql, function (ret) {
                    if (ret.code != 0) {
                        Dialog.alert("自動予約の取得に失敗しました。理由 : " + ret.message)
                        return
                    }

                    exec(ret.data1, 0, [])
                })
            })
        }

        changeRecordView()
        {
            self.recordView = self.recordView == 1 ? 0 : 1
            localStorage.setItem("record/view", self.recordView)
        }

        // keii
        changeEnLib()
        {
            self.enLib = self.enLib == 1 ? 0 : 1
            localStorage.setItem("EnableLibrary", self.enLib)
            //self.update()

        }

        changeDescView()
        {
            self.DescView = self.DescView == 1 ? 0 : 1
            localStorage.setItem("desc/view", self.DescView)
        }

        setSleep()
        {
            Dialog.confirm('スリープさせますか？', function ()
            {
                Webapi.exec("GoSleep", {}, function (ret)
                {
                    if (ret.code == 0)
                        Dialog.alert("スリープするようセットしました。")
                    else
                        Dialog.alert("スリープ移行に失敗しました。理由 : " + ret.message)
                })
            })
        }
        //

        updateRecordStatus()
        {
            Webapi.exec("UpdateRecordStatus", {}, function (ret)
            {
                if (ret.code == 0)
                    Dialog.alert("録画ファイルのチェックが完了しました。")
                else
                    Dialog.alert("録画ファイルのチェックに失敗しました。理由 : " + ret.message)
            })
        }

        setVideoMode(e)
        {
            var list =
                [
                    { text: "low" },
                    { text: "middle" },
                    { text: "high" }
                ]

            self.refs.selecter.show(list, function (item)
            {
                self.videoMode = item.text
                localStorage.setItem("video-mode", self.videoMode)
                self.update()
            })
        }

        setStreamType(e)
        {
            var list =
                [
                    { text: "pd" },
                    { text: "hls" },
                    { text: "hls emu" }
                ]

            self.refs.selecter.show(list, function (item)
            {
                if (item.text == "hls emu" && Hls.isSupported() == false)
                    Dialog.alert("このブラウザでは、HLS エミュレーションを使用できません。")
                else
                {
                    self.streamType = item.text
                    localStorage.setItem("stream-type", self.streamType)
                    self.update()
                }
            })
        }

        cancelUpdateEpg()
        {
            Webapi.exec("CancelUpdateEpg", {}, function (ret)
            {
                if (ret.code == 0)
                    Dialog.alert("番組表更新を中止しました。")
                else
                    Dialog.alert("番組表更新の中止に失敗しました。理由 : " + ret.message)
            })
        }

        updateEpg()
        {
            Webapi.exec("UpdateEpg", {}, function (ret)
            {
                if (ret.code == 0)
                    Dialog.alert("番組表更新を開始しました。")
                else
                    Dialog.alert("番組表更新の開始に失敗しました。理由 : " + ret.message)
            })
        }

        clearRecord()
        {
            Dialog.confirm('録画一覧をクリアしますか？', function ()
            {
                var keys = [];

                for (var i = 0; i < localStorage.length; ++i)
                    keys.push(localStorage.key(i));

                keys.forEach(function (key)
                {
                    if (key.indexOf('record-play/') != -1)
                        localStorage.removeItem(key)
                })

                Webapi.exec("ClearRecord", {}, function (ret)
                {
                    if (ret.code == 0)
                        Dialog.alert("録画一覧をクリアしました。再読み込みしてください。")
                    else
                        Dialog.alert("録画一覧のクリアに失敗しました。理由 : " + ret.message)
                })
            })
        }

        clearLog()
        {
            Dialog.confirm('ログをクリアしますか？', function ()
            {
                Webapi.exec("ClearLog", {}, function (ret)
                {
                    if (ret.code == 0)
                        Dialog.alert("ログをクリアしました。再読み込みしてください。")
                    else
                        Dialog.alert("ログのクリアに失敗しました。理由 : " + ret.message)
                })
            })
        }

        addTsFileInfo()
        {
            Dialog.confirm('録画フォルダのTSファイルを、録画一覧に登録します。実行していいですか？ (ファイル数によっては時間がかかります)', function ()
            {
                Webapi.exec("AddTsFileInfo", {}, function (ret)
                {
                    if (ret.code == 0)
                        Dialog.alert("TSファイル登録を開始しました。詳細はログを参照してください。")
                    else
                        Dialog.alert("TSファイル登録を開始できません。詳細: " + ret.message)
                })
            })
        }

        // keii
        updateGCalendar()
        {
            Dialog.confirm('Google Calendarの情報を更新します。実行していいですか？', function () {
                Webapi.exec("UpdateGCalendar", {}, function (ret) {
                    if (ret.code == 0)
                        Dialog.alert("更新を開始しました。")
                    else
                        Dialog.alert("更新を開始できません。詳細: " + ret.message)
                })
            })
        }

        delAllGCalendar()
        {
            Dialog.confirm('Google Calendarの情報全を削除します。実行していいですか？', function () {
                Webapi.exec("DelAllGCalendar", {}, function (ret) {
                    if (ret.code == 0)
                        Dialog.alert("全消しを開始しました。")
                    else
                        Dialog.alert("全消しを開始できません。詳細: " + ret.message)
                })
            })
        }
        
        addLibInfo()
        {
            Dialog.confirm('ライブラリにファイルを登録します。実行していいですか？ (ファイル数によっては "かなり" 時間がかかります)', function () {
                Webapi.exec("AddLibInfo", {}, function (ret) {
                    if (ret.code == 0)
                        Dialog.alert("ライブラリ登録を開始しました。詳細はログを参照してください。")
                    else
                        Dialog.alert("ライブラリ登録を開始できません。詳細: " + ret.message)
                })
            })
        }

        cancelAddLibInfo()
        {
            Dialog.confirm('ライブラリにファイルを登録を中止します。実行していいですか？', function () {
                Webapi.exec("CancelAddLibInfo", {}, function (ret) {
                    if (ret.code == 0)
                        Dialog.alert("ライブラリ登録を停止しました。詳細はログを参照してください。")
                    else
                        Dialog.alert("ライブラリ登録を停止できません。詳細: " + ret.message)
                })
            })
        }
        //

        editEpgHourHeight(e)
        {
            var height = Number(self.refs["epg-hour-hight"].value)

            if (height >= 100 && height <= 1000)
                localStorage.setItem("epg-hour-hight", height)
            else
                Dialog.alert("番組表の高さは、100～1000の数値を指定してください。");
        }

        setHlsReady(e)
        {
            var list =
                [
                    { text: "1" },
                    { text: "2" },
                    { text: "3" }
                ]

            self.refs.selecter.show(list, function (item)
            {
                self.hlsReady = item.text
                localStorage.setItem("hls-ready", self.hlsReady)
                self.update()
            })
        }

        editUserEpg(e)
        {
            var id = e.target.dataset.id
            var sql = "select fsid from user_epg where id = " + id

            Webapi.getTable(sql, function (ret)
            {
                if (ret.code != 0)
                {
                    Dialog.alert("ユーザ番組表の取得に失敗しました。理由 : " + ret.message)
                    return
                }

                var users = ret.data1

                services.forEach(function (service)
                {
                    service.checked = users.some(function (user)
                    {
                        if (service[0] == user[0])
                            return true
                    })
                })

                Dialog.checklist(services, function ()
                {
                    var list = services.filter(function (service)
                    {
                        return service.checked

                    }).map(function (service)
                    {
                        return service.fsid
                    })

                    Webapi.exec("SetUserEpg", { id: id, fsid: list.join() }, function (ret)
                    {
                        if (ret.code != 0)
                        {
                            Dialog.alert("ユーザ番組表の設定に失敗しました。理由 : " + ret.message)
                            return
                        }
                    })
                })
            })
        }

        function initServiceList()
        {
            var sql = "select fsid, name from service group by fsid order by id"

            Webapi.getTable(sql, function (ret)
            {
                if (ret.code != 0)
                {
                    Dialog.alert("サービスの取得に失敗しました。理由 : " + ret.message)
                    return;
                }

                services = ret.data1

                services.forEach(function (service)
                {
                    service.checked = false
                    service.fsid = service[0]
                    service.text = service[1]
                })
            })
        }

        displayTips(e)
        {
            // 
            var head = ""
            switch (e.target.id) {
                case "tip_filecheck":
                    Dialog.tips("ファイルチェック実行",
                        "録画フォルダ内にある動画ファイルの有無チェックを行い，録画結果データベースにマークします。<br>"
                        + "* 動画ファイルの削除は行いません。")
                    break
                case "tip_record_clear":
                    Dialog.tips("録画一覧クリア",
                        "録画結果データベースをクリアします。(動画ファイルは削除しません)<br>"
                        + "注) 録画時のD/S/E値など，一部情報が失われます。")
                    break
                case "tip_record_reentry":
                    Dialog.tips("録画ファイル登録",
                        "録画フォルダにある動画ファイルを録画結果データベースに登録します。<br>"
                        + "注) サムネイル生成の為，時間がかかります。")
                    break
                case "tip_library":
                    Dialog.tips("ライブラリ登録開始/停止",
                        "設定したライブラリフォルダのファイルをデータベースに登録します。<br>"
                        + "注) ファイル数によっては，とんでもなく時間がかかります！")
                    break
                case "tip_checkAutoReserve":
                    Dialog.tips("自動予約のチェック",
                        "自動予約のサービス指定に、削除されたサービスが含まれていないかチェックします。 "
                        + "トラポン移動後などに使います。<br>"
                        + "注) 有効な自動予約のみチェックします")
                    break
                    
                default:
                    break;
            }
        }
    </script>
</setting>
