var WepgPage = {}

<wepg show="{ visible }">
    <header class="header-bar">
        <button class="btn pull-left" onclick="MainMenu.show()"><i class="material-icons">&#xE5D2;</i></button>
        <img class="img pull-left" title="クリックで番組表へ" src='/logo/{ fsid }.bmp' onerror="this.src ='nologo.jpg'" onclick="{ openepg }">
        <div class="text pull-left">{ services }</div>
        <div class="text pull-left">{ sdate } ～ { edate }</div>
        <a class="btn pull-right" title="検索" href="#search"><i class="material-icons">&#xE8B6;</i></a>
        <button class="btn pull-right" onclick="{ sync }" title="画面更新"><i class="material-icons">&#xE627;</i></button>
    </header>

	<div id='dates-bar' ref="dates-bar">
		<div each="{ date in dates } no-recorder" class='dates'>
			{ date[0] }
		</div>
	</div>

    <div id='time-bar' ref='time-bar'>
        <div each="{ time in times } no-reorder" class='time-label' style="{ 'height:' + hourHeight + 'px;' }">{ time }</div>
    </div>

    <content class="main-content" ref="content" onscroll="{ onscroll }">
        <div id='epg' style="{ 'height:' + epgScrollHeight + 'px' }">
            <div each="{ date in dates } no-reorder" class='date-box'>
                <div each="{ event in date.events } no-reorder" onclick="{ showEventPanel }" class='event { event.genre }' 
                     style="{ 'top:' + event.top + 'px; height:' + event.height + 'px;' }"
                     title="{ event.title }">
					<div><span style="font-style: italic;">{ event.time }</span> { event[4] } <br><br> <span class='desc'>{ event[7] }</span></div>
                    <div if="{ event.reserveStatus != '' }" class='reserve-label { event.reserveStatus }'>
                        <i class="material-icons">&#xE061;</i>
                    </div>
                </div>
            </div>
        </div>
        <hr id="now-bar" ref="now-bar">
    </content>

    <pagetab></pagetab>

    <text-menu ref="epgselect"></text-menu><!-- サービス，日付のプルダウンメニュー-->
    <text-menu ref="jumpmenu"></text-menu><!-- Main Menu-->
    <event-panel></event-panel><!-- 右のパネル -->
    <maid></maid>

    <style>
        .header-bar .img
        {
            position: relative;
            padding: 0px 0px;
            width: 32px;
            height: 18px;
            border: 1px solid lightgray;
            top: 10px;
        }

        #time-bar
        {
            left: 0;
            margin-top: 65px; /*90px;*/
            overflow: hidden;
            position: fixed;
            width: 30px;
            min-width: 30px;
        }

        .time-label
        {
            position: relative;
            overflow: hidden;
            color: white;
            text-align: center;
            font-size: 12px;
            border-bottom: lightgray 1px solid;
            padding-top: 5px;
        }

        #dates-bar
		{
            display: flex;
            position: absolute;
            left: 0;
            top: 40px;
            z-index: 20;
            overflow: hidden;
            padding-left: 30px;
		}

		.dates
		{
            position: relative;
            overflow: hidden;
            width: 120px;
            min-width: 120px;
            min-height: 28px;
            padding: 5px;
            color: white;
            text-align: center;
            font-size: 12px;
		}

        .main-content
        {
            margin-left: 30px;
            margin-top:  65px; /*90px*/
        }

        #epg
        {
            display: flex;
            position: relative;
        }

        .date-box
        {
            position: relative;
            overflow: hidden;
            border-right: lightgray 1px solid;
            width: 120px;
            min-width: 120px;
            background-color: #eee;
        }

        .event
        {
            padding: 5px;
            width: 100%;
            overflow: hidden;
            border-top: lightgray 1px solid;
            border-bottom: lightgray 1px solid;
            position: absolute;
            line-height: 1.3;
            white-space: normal;
            cursor: default;
        }

            .event .reserve-label
            {
                display: none;
                position: absolute;
                top: 5px;
                right: 5px;
            }

                .event .reserve-label.enable
                {
                    display: block;
                    color: tomato;
                }

                .event .reserve-label.overlay
                {
                    display: block;
                    color: yellow;
                }

                .event .reserve-label.disable
                {
                    display: block;
                    color: gray;
                }

            .event:active
            {
                background-color: #eee !important;
            }

			.event .desc
			{
				font-size: 11px;
				color: gray;
			}

		#now-bar
        {
            position: absolute;
            z-index: 1;
            border-color: red;
            border-style: solid;
            border-width: 2px 0px 0px 0px;
            margin: 0px;
        }
    </style>

    <script>
        "use strict"

        var self = this
        var router = route.create()

        var hourHeight = 300    //1hの高さ(初期値)
        var startDate           //EPGの開始日時
        var contentTop = 0
        var content
		//var fsid = 0
		var fsid = 18269405285; // NHK BS
		
		var startHour = 4       // 画面描画開始時刻
		
        WepgPage = {
            update: function ()
            {
                if (startDate != null)
                    updateEvent(true)
            }
        }

        this.on("mount", function ()
        {
            content = self.refs["content"]
        })

        router('wepg..', function (keyword)
        {
            var keyword = route.query().keyword // keywordはfsidとする

            self.fsid = keyword == null ? "" : keyword;
            self.visible = true

            self.tags["maid"].show(); // "call maid-san"

            load()
        })

        router('..', function ()
        {
            self.visible = false
            self.tags["maid"].hide(); // "leave maid-san"
            self.update()
        })

        search()
        {
            location.href = "#search"
        }

		// keii
		openepg()
		{
			location.href = "#epg";
		}
		//

        sync()
        {
            load()
        }

        function load()
        {
            var height = localStorage.getItem("epg-hour-hight")
            hourHeight = height == null || height == "undefined" ? hourHeight : Number(height)
            self.epgScrollHeight = hourHeight * 24 //1日分の高さ
            self.hourHeight = hourHeight // 1時間当たりの高さ
            startDate = XDate.today() // 今日の日付取得

			self.dates = []; // 一週間分(表示用)
			for (var i = 0; i < 8; i++) // default 7
			{
				self.dates.push(
					[ startDate.clone().addDays(i).toString("M月d日") + " ({0})".format(Util.getWeekText(startDate.clone().addDays(i).getDay())),
					  startDate.clone().addDays(i)]
					
				);
			}

			self.sdate = self.dates[0][0];
			self.edate = self.dates[7][0];
			
            setInterval(setNowBar, 60 * 1000) //現在時刻ライン更新タイミング(1分)
            loadService()
            setTimeBar()
        }

        function setTimeBar()
        {
            self.times = []

            for (var i = 0 + startHour; i < 24 + startHour; i++)
                self.times.push(i % 24)
        }

        function setNowBar()
        {
            var nowbar = self.refs["now-bar"]
            var width = content.scrollWidth

            nowbar.style.width = width + "px"

            var now = new XDate(XDate.now())
            var top = Math.floor((now.addHours(-startHour) - startDate) * hourHeight / 3600000)
            nowbar.style.top = top + "px"
            self.update()
        }

        showEventPanel(e)
        {
            var id = e.item.event[0]
            self.tags["event-panel"].show(id)
        }

        function updateEvent(force)
        {
            if (force || Math.abs(contentTop - content.scrollTop) > hourHeight)
            {
                //表示されている時だけscrollTopを取得(0になるため)
                if (self.visible)
                    contentTop = content.scrollTop

                var topMin = Math.floor(contentTop / (hourHeight / 60))
                var topDay = startDate.clone().addMinutes(topMin)

                loadEvent()
            }
        }

        //スクロールイベントを間引く
        var onscroll2 = debounce(updateEvent, 300)

        onscroll()
        {
            onscroll2()

            var servicebar = self.refs["dates-bar"]
            var timebar = self.refs["time-bar"]

            servicebar.style.left = content.scrollLeft * -1 + "px"
            timebar.style.top = content.scrollTop * -1 + "px"
        }

        function loadService()
        { // 画面表示用の局リスト(fsidと局名)
            var sql = "select fsid, name from service where fsid='" + self.fsid + "' group by fsid order by id"

            Webapi.getTable(sql, function (ret)
            {
                if (ret.code != 0)
                {
                    Dialog.alert("番組の取得に失敗しました。理由 : " + ret.message)
                    return
                }

                //self.services = ret.data1
				self.services = ret.data1[0][1];
				
                self.update()
                setNowBar()
                junpNow()
                updateEvent(true)
            })
        }

        function junpNow()
        {
            var now = new XDate(XDate.now())
            now.addHours(-1-startHour)
            content.scrollTop = startDate.clone().diffHours(now) * hourHeight
        }

        function loadEvent()
        {
            var topMin = Math.floor(contentTop / (hourHeight / 60))
            var heightMin = Math.floor(content.clientHeight / (hourHeight / 60))

			var wheretime = "";
            for (var i = 0; i < 8; i++) {
                var from = startDate.clone().addDays(i).addHours(startHour).addMinutes(topMin)
                var to = from.clone().addMinutes(heightMin)
				from.addHours(-2)
			    to.addHours(2)
                wheretime = wheretime + (wheretime == "" ? "": " or ") + "(event.end > {0} and event.start < {1})".format(
					Webapi.convertDateTime(from),
					Webapi.convertDateTime(to)
					)
			}

            var sql = "select event.id, event.fsid, event.start, event.duration, event.title, genre, status, event.desc from event"
                    + " left join reserve on reserve.fsid = event.fsid and reserve.eid = event.eid"
                + " where {0} {1} ".format("event.fsid='" + self.fsid + "' and (", wheretime) + ") order by event.id"

			var DescView = localStorage.getItem("desc/view")
			if (DescView == 1) sql = sql.replace(", event.desc",", '' as desc") // 番組内容を取得しない

			Webapi.getTable(sql, function (ret)
            {
                if (ret.code != 0)
                {
                    Dialog.alert("番組の取得に失敗しました。理由 : " + ret.message)
                    return
                }

                var events = ret.data1
                
                events.forEach(function (event) {
                    var start = Webapi.convertXDate(event[2])
                    var duration = event[3]
                    event.height = Math.ceil(duration * hourHeight / 3600)
                    event.time = start.toString("H:mm")

                    var x = startDate.clone().addDays(Math.floor(startDate.clone().diffDays(start))) // startDateに日数を足したヤツ
                    var z = start >= x.clone().addHours(startHour) ? start.clone().addHours(-startHour) : start.addHours(24 - startHour)
                    event.top = Math.floor((z - x) * hourHeight / 3600000) // コマの描画位置

                    var a = self.epgScrollHeight // 1日分の高さ
                    var b = duration / 3600
                    var c = events.index

                    event.genre = Genre.getFirstClass(event[5])

                    var status = event[6]

                    event.title = event.height < 50 ? event.time + " " + event[4] : ""

                    if (status == null)
                        event.reserveStatus = ""
                    else if (ReserveState.isEnable(status))
                        event.reserveStatus = ReserveState.isOverlay(status) ? "overlay" : "enable"
                    else
                        event.reserveStatus = "disable"

                    if (event.top + event.height > self.epgScrollHeight) {
                        events.push([ event[0], event[1], event[2], event[3], event[4], event[5], event[6], event[7] ])
                        events[events.length - 1]["top"] = 0
                        events[events.length - 1]["height"] = event.height - (self.epgScrollHeight - event.top)
                        events[events.length - 1].time = event.time
                        events[events.length - 1].genre = event.genre
                        events[events.length - 1].title = event.title
                        events[events.length - 1].reserveStatus = event.reserveStatus

                        event.height = self.epgScrollHeight - event.top // 自分のお尻をカット
                    }
                })

                // 日付で振り分け
                self.dates.forEach(function (date)
                {
                    date.events = events.filter(function (event)
                    {
						var d = Webapi.convertXDate(event[2]) // event.start
                        event.date = d.toString("M月d日") + " ({0})".format(Util.getWeekText(d.getDay())) // 'day'
                        return ((date[1].clone().addHours(startHour) <= d) && (date[1].clone().addDays(1).addHours(startHour) > d) && event.top != 0)
                            || (((date[1].clone().addHours(startHour) >= d) && (date[1].clone().addDays(-1).addHours(startHour) < d) && (event.top == 0)))
                    })                    
                })

                self.update()
            })
        }
    </script>
</wepg>