var WreservePage = {}

<wreserve show="{ visible }">
    <header class="header-bar">
        <button class="btn pull-left" onclick="MainMenu.show()"><i class="material-icons">&#xE8F3;</i></button>
        <div class="text pull-left">予約分布 ({ itemCountReserve }/{ itemCount })</div>
        <button title="フィルタ" class="btn pull-left" onclick="{ changeViewRefine }"><i class="material-icons">{viewMode ? "&#xE241;" : "&#xE152;" }</i></button>
        <button title="「予約」へ" class="btn pull-left" onclick="{ changeViewMode }"><i class="material-icons">&#xE8EE;</i></button>
        <button title="画面更新" class="btn pull-right" onclick="{ sync }"><i class="material-icons">&#xE627;</i></button>
        <button title="チューナ再配置" class="btn pull-right" onclick="{ resetTuner }"><i class="material-icons">&#xE164;</i></button>
        <button title="予約編集" class="btn pull-right" id="edit-mode" onclick="{ changeEditMode }"><i class="material-icons">{ editMode ? "&#xE22B;" : "&#xE3C9;" }</i></button>
        <a class="btn pull-right" href="#auto-reserve"><i class="material-icons">&#xE146;</i></a>
    </header>

    <div id='dates-bar' ref="dates-bar">
        <div each="{ date in dates } no-recorder" class='dates'>
            { date[0] }
        </div>
    </div>

    <div id='time-bar' ref='time-bar'>
        <div each="{ time in times } no-reorder" class='time-label' style="{ 'height:' + hourHeight + 'px;' }">{ time }</div>
    </div>

    <content class="main-content" ref="content" onscroll="{ onscroll }">
        <div id='epg' style="{ 'height:' + epgScrollHeight + 'px' }">
            <div each="{ date in dates } no-reorder" class='date-box'>
                <div each="{ reserve in date.reserves } no-reorder" onclick="{ action }" class='reserve { reserve.genre }' 
                    style="{ 'font-size:12px; top:' + reserve.top + 'px; height:' + reserve.height + 'px; opacity:' + reserve.opacity + '; width:' 
                    + reserve.width + 'px; margin-left:' + reserve.margin + 'px;' + reserve.border }" title='{ reserve.title }'>
                    <div>
                        { reserve[1] }<br>
                        <span class="time">
                            { reserve.start }～{ reserve.end } ({ reserve[7] })<br>
                            { reserve[2] } 
                            <span style="font-style: oblique">{ reserve.arname }</span>
                        </span>
                    </div>
                    <div if="{ reserve.status != '' }" class='reserve-label { reserve.status }'>
                        <i class="material-icons">&#xE061;</i>
                    </div>
                </div>
            </div>
        </div>
        <hr id="now-bar" ref="now-bar">
    </content>

    <pagetab></pagetab>

    <event-panel></event-panel>
    <reserve-edit></reserve-edit>
    <maid></maid>

    <style>
        #time-bar
        {
            left: 0;
            margin-top: 65px; /*90px;*/
            overflow: hidden;
            position: fixed;
            width: 30px;
            min-width: 30px;
        }

        .time-label
        {
            position: relative;
            overflow: hidden;
            color: white;
            text-align: center;
            font-size: 12px;
            border-bottom: lightgray 1px solid;
            padding-top: 5px;
        }

        #dates-bar
        {
            display: flex;
            position: absolute;
            left: 0;
            top: 40px;
            z-index: 20;
            overflow: hidden;
            padding-left: 30px;
        }

        .dates /* 日付け */
        {
            position: relative;
            overflow: hidden;
            width: 120px;
            min-width: 120px;
            height: 50px;
            padding: 5px;
            color: white;
            text-align: center;
            font-size: 12px;
        }

        .main-content
        {
            margin-left: 30px;
            margin-top:  65px; /*90px*/
        }

        #epg
        {
            display: flex;
            position: relative;
        }

        .date-box
        {
            position: relative;
            overflow: hidden;
            border-right: lightgray 1px solid;
            width: 120px;
            min-width: 120px;
            background-color: #eee;
        }

        .reserve
        {
            padding: 5px;
            width: 100%;
            overflow: hidden;
            border-top: lightgray 1px solid;
            border-bottom: lightgray 1px solid;
            position: absolute;
            line-height: 1.3;
            white-space: normal;
            cursor: default;
        }

            .reserve .reserve-label
            {
                display: none;
                position: absolute;
                top: 5px;
                right: 5px;
            }

                .reserve .reserve-label.enable
                {
                    display: block;
                    color: tomato;
                }

                .reserve .reserve-label.overlay
                {
                    display: block;
                    color: yellow;
                }

                .reserve .reserve-label.disable
                {
                    display: block;
                    color: gray;
                }

            .reserve:active
            {
                background-color: #eee !important;
            }

            .reserve .time
            {
                font-size: 11px;
                color: gray;
            }

        #now-bar
        {
            position: absolute;
            z-index: 1;
            border-color: red;
            border-style: solid;
            border-width: 2px 0px 0px 0px;
            margin: 0px;
        }
    </style>

    <script>
        "use strict"

        var self = this
        var router = route.create()
        self.viewMode = false

        var hourHeight = 80    //1hの高さ(初期値)
        var startDate           //EPGの開始日時
        var contentTop = 0
        var content
        var startHour = 4       // 画面描画開始時刻？
        
        WreservePage = {
            update: function (){
                if (startDate != null) {
                    updateReserve(true);
                } else {    
                    load();
                }
            }
        }

        this.on("mount", function (){
            self.editMode = false;
            content = self.refs["content"];
        })

        router('wreserve', function (){
            self.visible = true;
            self.tags["maid"].show(); // "call maid-san"
            if (self.reserves == null)
                load();
            else
                self.update();
        })

        router('..', function (){
            self.visible = false
            self.tags["maid"].hide(); // "leave maid-san"
            self.update()
        })

        changeEditMode(){
            self.editMode = !self.editMode;
        }
        // keii
        changeViewRefine(){
            self.viewMode = !self.viewMode;
            load();
        }
        changeViewMode(){
            location.href = "#reserve"
        }

        resetTuner(){
            Webapi.exec("ResetReserveTuner", {}, function (ret){
                if (ret.code != 0){
                    Dialog.alert("チューナ割り当てのリセットに失敗しました。\n理由 : " + ret.message);
                    return;
                }
                Dialog.alert("チューナ割り当てをリセットしました。");
                load();
            })
        }

        sync(){
            load();
        }

        action(e){
            if (self.editMode)
            {
                var id = e.item.reserve[0];
                self.tags["reserve-edit"].show(id);
            }
            else
                showEventPanel(e);
        }

        function showEventPanel(e){
            var id = e.item.reserve[0]
            var sql = "select id from event"
                    + " where fsid = (select fsid from reserve where id = {0})".format(id)
                    + " and eid = (select eid from reserve where id = {0})".format(id)

            Webapi.getTable(sql, function (ret){
                if (ret.code != 0){
                    Dialog.alert("予約の取得に失敗しました。理由 : " + ret.message);
                    return;
                }

                if (ret.data1.length == 0){
                    Dialog.alert("番組情報がありません。");
                    return;
                }
                var event = ret.data1[0][0];
                self.tags["event-panel"].show(event);
            })
        }

        function setTimeBar(){
            self.times = [];
            for (var i = 0 + startHour; i < 24 + startHour; i++)
                self.times.push(i % 24);
        }
        
        function load(){
            //サービス名が必要なのでserviceを結合する
            //group by reserve.idを入れないとドライバの数だけ重複する
            var now = Webapi.convertDateTime(new XDate(XDate.now()));

            //var height = localStorage.getItem("epg-hour-hight");
            //hourHeight = height == null || height == "undefined" ? hourHeight : Number(height);
            self.epgScrollHeight = hourHeight * 24; //1日分の高さ
            self.hourHeight = hourHeight; // 1時間当たりの高さ
            startDate = XDate.today(); // 今日の日付取得
            
            self.dates = []; // 一週間分(表示用)
            for (var i = 0; i < 8; i++){
                self.dates.push(
                    [ startDate.clone().addDays(i).toString("M月d日") + " ({0})".format(Util.getWeekText(startDate.clone().addDays(i).getDay())),
                      startDate.clone().addDays(i)]
                );
            }

            setInterval(setNowBar, 60 * 1000) //現在時刻ライン更新タイミング(1分)

            self.update();
            setTimeBar();
            setNowBar()
            updateReserve();
            junpNow();
        }

        function updateReserve(){
            var now = Webapi.convertDateTime(new XDate(XDate.now()));

            var sql = "select r.id, r.title, s.name, r.start, r.end, r.duration, r.status, r.tuner, ar.name, e.genre, '' as day, 0 as cnt"
                    + " from reserve r"
                    + " left join service s on r.fsid = s.fsid"
                    + " left join auto_reserve ar on r.auto = ar.id"
                    + " left join event as e on r.fsid = e.fsid and r.eid = e.eid"
                    + " where r.end > {0} group by r.id".format(now)
                    + " order by r.start";
            if (!self.viewMode) sql = sql.replace("where r.end", "where r.status > 2 and r.end");
            
            Webapi.getTable(sql, function (ret){
                if (ret.code != 0){
                    Dialog.alert("予約の取得に失敗しました。理由 : " + ret.message);
                    return;
                }

                var reserves = ret.data1;

                self.dates.forEach(function (date){
                    date.reserves = reserves.filter(function (reserve){
                        var d = Webapi.convertXDate(reserve[3]);
                        reserve[10] = d.toString("M月d日") + " ({0})".format(Util.getWeekText(d.getDay()));
                        return (date[1].clone().addHours(startHour) <= d) && (date[1].clone().addDays(1).addHours(startHour) > d);
                    })
                })

                    
                reserves.forEach(function (reserve){
                    var resStart = reserve[3];
                    var resEnd = reserve[4];
                    var start = Webapi.convertXDate(reserve[3]);
                    var end = Webapi.convertXDate(reserve[4]);
                    reserve.start = start.toString("H:mm");
                    reserve.end = end.toString("H:mm");

                    var x = startDate.addDays(Math.floor(startDate.diffDays(start))) // startDateに日数を足したやつ
                    var z = start >= x.clone().addHours(startHour) ? start.clone().addHours(-startHour) : start.addHours(24 - startHour)
                    reserve.top = Math.floor((z - x) * hourHeight / 3600000);
                    
                    var duration = reserve[5];
                    reserve.height = Math.ceil(duration * hourHeight / 3600);
                    
                    var status = reserve[6]
                    if (ReserveState.isEnable(status)){
                        reserve.status = ReserveState.isOverlay(status) ? "overlay" : reserve.status = ReserveState.isRecording(status) ? "recording" : "enable";
                        reserve.border = "border: gray 1px solid;";
                    } else {
                        reserve.status = "disable";
                        reserve.opacity = "0.75";
                        reserve.border = "border-left: lightgray 1px solid;";
                    }
                    
                    reserve.arname = reserve[8] != null ? "["+reserve[8]+"]" : "";
                    reserve.genre = Genre.getFirstClass(reserve[9]);
                    // mouseover表示
                    reserve.title = reserve.start + "-" + reserve.end + "\n" + reserve[1] + "\n" + reserve[2] + "(" + reserve[7] + ")\n" + reserve.arname;

                    var cnt = 0;
                    for(var i = 0; i < reserves.length; i++){
                        var res = reserves[i];
                        if(!self.viewMode){ if(res[6] <= 2) continue; }
                        if(res[11] == true && (
                            (res[3] < resStart && resStart < res[4]) || 
                            (res[3] < resEnd && resEnd < res[4]) || 
                            (resStart < res[3]  && resStart < res[4] && res[3] < resEnd && res[4] < resEnd) ||
                            (res[3] < resStart  && resStart < res[4] && res[3] < resEnd && resEnd < res[4])
                        )){
                            if(res[11] == true){
                                cnt++;
                                if(res[3] == resStart) reserve.top = reserve.top + 10;
                            }
                        }
                    }
                    
                    reserve.margin = 15 * cnt + ""; // +""はint->str変換
                    reserve.width = 119 - (15 * cnt) + "";
                    //reserve.opacity = 1 - (0.15 * cnt) + "";
                    //reserve.opacity = 0.6 + (0.1 * cnt) + "";
                    
                    reserve[11] = true;
                })

                self.update()
            })

            // 予約数
            sql = 'select count(id) from reserve where end > {0}'.format(now)
            Webapi.getTable(sql, function (ret){
                if (ret.code != 0){
                    Dialog.alert("予約数の取得に失敗しました。理由 : " + ret.message)
                    return;
                }
                self.itemCount = ret.data1[0];
                self.update();
            })

            // 録画有効数
            sql = 'select count(id) from reserve where status > 2 and end > {0}'.format(now)
            Webapi.getTable(sql, function (ret){
                if (ret.code != 0){
                    Dialog.alert("予約数の取得に失敗しました。理由 : " + ret.message);
                    return;
                }
                self.itemCountReserve = ret.data1[0];
                self.update();
            })

        }
        
        
        //スクロールイベントを間引く
        var onscroll2 = debounce(updateReserve, 300)

        onscroll(){
            //onscroll2()

            var servicebar = self.refs["dates-bar"]
            var timebar = self.refs["time-bar"]

            servicebar.style.left = content.scrollLeft * -1 + "px"
            timebar.style.top = content.scrollTop * -1 + "px"
        }
        
        function junpNow(){
            var now = new XDate(XDate.now())
            now.addHours(-1-startHour)
            content.scrollTop = startDate.diffHours(now) * hourHeight
        }
        
        function setNowBar(){
            var nowbar = self.refs["now-bar"]
            var width = content.scrollWidth

            nowbar.style.width = width + "px"

            var now = new XDate(XDate.now())
            var top = Math.floor((now.addHours(-startHour) - startDate) * hourHeight / 3600000)
            nowbar.style.top = top + "px"
            self.update()
        }


    </script>
</wreserve>
